Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2021-07, with the labels that each got.

#557 fixed cursor in JSON editor jumping to the start
  client/js/jsonedit.js
Labels: JSON editor, enhancement

#599 convert `property` in `SET` to string before setting
  client/js/widgets/widget.js
Labels: bug, routine operations

#609 Adding '${}' in JSON editor
  client/js/jsonedit.js
Labels: JSON editor, enhancement

#528 added `inheritFrom`
  client/js/jsonedit.js
  client/js/serverstate.js
  client/js/statemanaged.js
  client/js/widgets/label.js
  client/js/widgets/widget.js
Labels: enhancement, widget properties

#612 updated JSON editor commands for multi-selection
  client/js/jsonedit.js
Labels: JSON editor, enhancement

#634 added commands to align and distribute widgets
  client/js/domhelpers.js
  client/js/jsonedit.js
  client/js/mousehandling.js
Labels: JSON editor, enhancement, routine operations

#642 added importer support for game pieces
  server/pcioimport.mjs
Labels: PCIO compatibility

#628 fixed unwanted HTML render in JSON editor
  client/js/jsonedit.js
Labels: JSON editor, bug

#521 added `fixedParent`
  client/js/widgets/widget.js
Labels: enhancement, widget properties

#95 added a trace to the serverside room
  client/css/tracing.css
  client/js/connection.js
  client/js/domhelpers.js
  client/js/jsonedit.js
  client/js/main.js
  client/js/serverstate.js
  client/js/statemanaged.js
  client/js/tracing.js
  client/js/widgets/holder.js
  client/js/widgets/widget.js
  client/room.html
  server/minify.mjs
  server/player.mjs
  server/room.mjs
Labels: maintenance

#645 dynamic expression string literal whitelist
  client/js/widgets/widget.js
  server/fileupdater.mjs
Labels: enhancement, routine operations

#647 changing the widgets in the multi-selection mode now retrieves their values
  client/js/jsonedit.js
Labels: JSON editor, enhancement

#654 fixed that `CLONE` did not set `x` or `y` to 0
  client/js/widgets/widget.js
Labels: bug, routine operations

#656 added commands to add or remove all cards of a deck
  client/js/jsonedit.js
Labels: JSON editor, enhancement

#605 added `globalUpdateRoutine`
  client/js/serverstate.js
  client/js/statemanaged.js
  client/js/widgets/widget.js
Labels: enhancement, routine operations, widget properties

#655 fixed card order when dropping a pile into a hand
  client/js/widgets/holder.js
  tests/testcafe/tests.js
Labels: bug

#670 fixed `INPUT` type `select`
  client/js/widgets/widget.js
Labels: bug, routine operations

#671 allow 0 as `INPUT` number `min` or `max`
  client/js/domhelpers.js
Labels: bug, routine operations

#648 added option "Use inheritFrom" to duplicate command
  client/js/editmode.js
  client/js/jsonedit.js
Labels: JSON editor, enhancement
