Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2022-08, with the labels that each got.

#1281 fixed slow JSON editor when editing widgets with many children
  client/js/editmode.js
  client/js/jsonedit.js
Labels: bug, JSON editor

#1145 new property: `dragging`
  client/js/widgets/widget.js
Labels: enhancement, widget properties

#1121 ignore trailing commas in JSON editor
  client/js/jsonedit.js
Labels: enhancement, JSON editor

#1285 Increase JSON Editor Pane Width
  client/css/jsonedit.css
Labels: bug, JSON editor

#1282 Move retrieval of widget type in jeGetContext
  client/js/jsonedit.js
Labels: JSON editor

#1288 Use separate tags for widget defaults per-type.
  client/js/jsonedit.js
Labels: bug, JSON editor

#1287 Change R.E. for non-string non-numeric expressions to exclude `$`
  client/js/jsonedit.js
Labels: enhancement, JSON editor

#1220 update more dependencies
  package-lock.json
  package.json
Labels: npm dependencies

#1289 Change user cursor circle to outline
  client/css/overlays/players.css
Labels: enhancement

#1292 Caret is now placed properly in most cases
  client/js/jsonedit.js
Labels: JSON editor
