Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2022-01, with the labels that each got.

#1058 fix debug representation of `return`ed collection for `CALL`
  client/js/widgets/widget.js
Labels: bug, JSON editor

#348 cardface linked properties
  client/js/jsonedit.js
  client/js/widgets/card.js
  client/js/widgets/deck.js
Labels: enhancement, widget properties

#1068 Fix red color on children of offending node
  client/css/jsonedit.css
  client/js/jsonedit.js
Labels: bug, JSON editor

#951 improvements to `css`
  client/js/domhelpers.js
  client/js/widgets/widget.js
Labels: enhancement, widget properties

#1091 remove widget stylesheet when removing widget
  client/js/widgets/widget.js
Labels: bug, widget properties

#1089 add full line comments
  client/js/jsonedit.js
  client/js/widgets/widget.js
Labels: JSON editor
