Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2022-10, with the labels that each got.

#1225 fixed crashes on state load
  client/js/serverstate.js
  client/js/widgets/widget.js
Labels: bug

#1261 updates holder alignment on property change
  client/js/widgets/holder.js
Labels: enhancement, widget properties

#1367 Fix multiple calls to tree display in multi-widget deletion.
  client/js/jsonedit.js
Labels: bug, JSON editor

#1360 Add applyChildZ function which applies inheritChildZ
  client/js/widgets/widget.js
Labels: bug
