Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2022-09, with the labels that each got.

#1306 Add grid commands to JSON editor.
  client/js/jsonedit.js
Labels: enhancement, JSON editor

#1267 changes widget clickable default
  client/js/widgets/basicwidget.js
  client/js/widgets/button.js
  client/js/widgets/canvas.js
  client/js/widgets/card.js
  client/js/widgets/deck.js
  client/js/widgets/label.js
  client/js/widgets/pile.js
  client/js/widgets/seat.js
  client/js/widgets/spinner.js
  client/js/widgets/timer.js
  client/js/widgets/widget.js
  server/fileupdater.mjs
Labels: enhancement, widget properties

#1313 Round coordinates in multidistribute.
  client/js/jsonedit.js
Labels: JSON editor

#1141 log and clear widgets that could not be added
  client/js/serverstate.js
Labels: bug

#1317 update dependencies
  package-lock.json
  package.json
Labels: npm dependencies

#837 increment more properties when duplicating widgets
  client/js/editmode.js
  client/js/jsonedit.js
Labels: enhancement, JSON editor

#1314 Performance improvements
  client/css/jsonedit.css
  client/js/editmode.js
  client/js/jsonedit.js
  client/js/main.js
  client/js/widgets/seat.js
  client/js/widgets/widget.js
Labels: enhancement, JSON editor

#1323 Now capital letters are incremented using Excel style.
  client/js/editmode.js
Labels: enhancement, JSON editor

#1328 Add user control of widget highlighting in JSON editor.
  client/js/jsonedit.js
Labels: JSON editor

#1158 multi-key sort
  client/js/jsonedit.js
  client/js/main.js
  client/js/widgets/pile.js
  client/js/widgets/widget.js
  tests/testcafe/tests.js
Labels: enhancement

#1194 apply cardDefaults to DOM if delta contains deck property
  client/js/widgets/card.js
Labels: bug

#1337 Allow inheriting of a subset of properties.
  client/js/editmode.js
  client/js/jsonedit.js
Labels: enhancement, JSON editor

#1339 return 404 for invalid asset names
  server.mjs
Labels: bug

#1335 Add `inheritFrom` and `css` to JSON editor
  client/js/jsonedit.js
Labels: enhancement, JSON editor

#1340 add OPTIONS to /state/ in order to allow PUT from different origins
  server.mjs
Labels: bug

#1347 added a check to several JSON editor commands to prevent crashes for css===null
  client/js/jsonedit.js
Labels: bug, JSON editor

#1342 Remember to update/highlight selected widgets in multiselect case.
  client/js/jsonedit.js
Labels: bug, JSON editor
