Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2023-06, with the labels that each got.

#1754 fixed library images after editing
  client/js/overlays/states.js
Labels: bug, user interface

#1763 support transparent canvas
  client/js/widgets/canvas.js
Labels: enhancement, widget properties

#1762 fixed TIMER when using a collection
  client/js/widgets/widget.js
Labels: bug, routine operations

#1761 fixed updating scoreboard for verticalHeader
  client/js/widgets/scoreboard.js
Labels: bug, widget properties

#1765 show label text when enlarged
  client/js/widgets/widget.js
Labels: bug, widget properties

#1767 new game: Nexus (similar to The Game)
  library/games/Nexus/0.json
Labels: enhancement, library

#1766 Add A Simple Life to Public Library
  library/games/A Simple Life/0.json
  library/games/A Simple Life/1.json
  library/games/A Simple Life/assets/-1715832180_67297
  library/games/A Simple Life/assets/-2009371825_1908
  library/games/A Simple Life/assets/-750334977_10362
  library/games/A Simple Life/assets/-775939780_323363
  library/games/A Simple Life/assets/-788062182_6363
  library/games/A Simple Life/assets/143284901_288134
  library/games/A Simple Life/assets/1494362211_1750
  library/games/A Simple Life/assets/1675039910_1323
  library/games/A Simple Life/assets/610330285_23469
Labels: library

#1771 new game: Word Whirl (similar to So Clover!)
  library/games/Word Whirl/0.json
  library/games/Word Whirl/assets/-370960535_35968
  library/games/Word Whirl/assets/1180657484_49827
Labels: enhancement, library

#1772 new compute function: shuffle
  client/js/compute.js
  client/js/domhelpers.js
  library/tutorials/Arrays/0.json
  library/tutorials/Arrays/1.json
  library/tutorials/Arrays/2.json
  library/tutorials/Arrays/3.json
  library/tutorials/Arrays/4.json
  library/tutorials/Arrays/5.json
  library/tutorials/Strings/0.json
  library/tutorials/Strings/1.json
  library/tutorials/Strings/2.json
  library/tutorials/Strings/3.json
Labels: enhancement, routine operations

#1770 added awards to the metadata of all SdJ winners
  library/games/Animal Race/0.json
  library/games/Best Guess/0.json
  library/games/Blue/0.json
  library/games/Blue/1.json
  library/games/Cities/0.json
  library/games/Fireworks/0.json
  library/games/Fireworks/1.json
  library/games/Foreign Affairs/0.json
  library/games/Imagination/0.json
  library/games/Rummy Tiles/0.json
  library/games/Shape Sorter/0.json
  library/games/Shattered Dominion/0.json
  library/games/The Team/0.json
  library/games/The Team/1.json
  library/games/The Team/2.json
  library/games/The Team/3.json
  library/games/Undercover/0.json
  library/games/Undercover/1.json
  library/games/Undercover/2.json
Labels: enhancement, library
