Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2023-01, with the labels that each got.

#1439 update dependencies
  package-lock.json
  package.json
Labels: npm dependencies

#1436 Fix numericSort
  client/js/compute.js
  server/fileupdater.mjs
Labels: bug, routine operations, Ready for review

#1451 Adds `mouseCoords` variable
  client/js/mousehandling.js
  client/js/overlays/players.js
  client/js/widgets/widget.js
Labels: enhancement, routine operations, Ready for review

#1478 rename `playerName` variable in Bhukhar
  library/games/Bhukhar/0.json
  tests/testcafe/publiclibrary.js
Labels: bug, library

#1480 Update to shape sorter
  library/games/Shape Sorter/0.json
  library/games/Shape Sorter/assets/-1712546135_277
  library/games/Shape Sorter/assets/-27377452_736
  library/games/Shape Sorter/assets/1502865726_277
  library/games/Shape Sorter/assets/1633231935_15183
  library/games/Shape Sorter/assets/2053592104_47917
  library/games/Shape Sorter/assets/822277903_277
  library/games/Shape Sorter/assets/979051549_277
Labels: library

#1443 Add compute functions to manipulate colors
  client/js/color.js
  client/js/compute.js
  client/js/editmode.js
  client/js/main.js
  client/js/overlays/players.js
  client/js/widgets/widget.js
  server/minify.mjs
  server/room.mjs
Labels: enhancement, routine operations, Ready for review

#1469 fixed performance issues with `svgReplaces`
  client/js/widgets/card.js
Labels: bug, widget properties

#1495 fixed `lastUpdate` when editing public library games
  server/room.mjs
Labels: bug

#1381 Add scoreboard widget
  .gitconfig
  client/css/widgets/scoreboard.css
  client/js/editmode.js
  client/js/jsonedit.js
  client/js/serverstate.js
  client/js/widgets/scoreboard.js
  client/js/widgets/seat.js
  client/js/widgets/widget.js
  client/room.html
  library/games/Hearts/0.json
  library/games/Hearts/1.json
  library/games/Tittle/0.json
  library/games/Wordy/0.json
  library/tutorials/Functions - SCORE/0.json
  library/tutorials/Functions - SCORE/assets/770478567_4518
  library/tutorials/Scoreboard/0.json
  library/tutorials/Scoreboard/1.json
  library/tutorials/Scoreboard/2.json
  library/tutorials/Scoreboard/assets/-751946941_5803
  server/minify.mjs
Labels: enhancement, widget properties

#1494 Update Blue
  library/games/Blue/0.json
  library/games/Blue/1.json
  library/games/Blue/assets/-1316953507_9704
  library/games/Blue/assets/-1713370741_3596
  library/games/Blue/assets/-184119988_3775
  library/games/Blue/assets/-1994782121_5025
  library/games/Blue/assets/-284457459_3758
  library/games/Blue/assets/-303184187_2756
  library/games/Blue/assets/-511651608_3199
  library/games/Blue/assets/-868978399_4650
  library/games/Blue/assets/1121452414_37135
  library/games/Blue/assets/1812341796_4692
  library/games/Blue/assets/23549581_3212
  library/games/Blue/assets/983609144_3243
  tests/testcafe/publiclibrary.js
Labels: library

#1464 COUNT `owner` Parameter and New Composite Seats With Hand Count
  client/css/editmode.css
  client/js/editmode.js
  client/js/jsonedit.js
  client/js/widgets/widget.js
  client/room.html
  library/tutorials/Functions - COUNT/0.json
  library/tutorials/Seats/0.json
  library/tutorials/Seats/1.json
  library/tutorials/Seats/2.json
  library/tutorials/Seats/3.json
  tests/testcafe/editor.js
Labels: enhancement, routine operations

#1502 return black for invalid color on server
  client/js/color.js
Labels: bug

#1510 fixed that `api/addShareToRoom` could only add one state
  server.mjs
Labels: bug

#1518 fixed Medieval VNO direction indicator and NEXT button
  library/games/Medieval VNO/0.json
  library/games/Medieval VNO/1.json
  library/games/Medieval VNO/2.json
Labels: bug, library

#1498 New game Egyptian Epochs, similar to Ra
  library/games/Egyptian Epochs/0.json
  library/games/Egyptian Epochs/assets/-1035570913_1930
  library/games/Egyptian Epochs/assets/-1320926012_2684
  library/games/Egyptian Epochs/assets/-1481745525_2916
  library/games/Egyptian Epochs/assets/-1702131538_2699
  library/games/Egyptian Epochs/assets/-1890224051_2634
  library/games/Egyptian Epochs/assets/-1906399272_3567
  library/games/Egyptian Epochs/assets/-2114748596_2177
  library/games/Egyptian Epochs/assets/-625665537_891
  library/games/Egyptian Epochs/assets/-683215186_2565
  library/games/Egyptian Epochs/assets/-910862028_2872
  library/games/Egyptian Epochs/assets/111654982_1739
  library/games/Egyptian Epochs/assets/115156902_3894
  library/games/Egyptian Epochs/assets/1319532171_3354
  library/games/Egyptian Epochs/assets/1581718371_2699
  library/games/Egyptian Epochs/assets/1697467342_2236
  library/games/Egyptian Epochs/assets/193559844_2070
  library/games/Egyptian Epochs/assets/2085577044_238
  library/games/Egyptian Epochs/assets/2087897998_1650
  library/games/Egyptian Epochs/assets/529206563_1870
  library/games/Egyptian Epochs/assets/619132480_690
  library/games/Egyptian Epochs/assets/687722024_111832
  library/games/Egyptian Epochs/assets/870000677_4386
  library/games/Egyptian Epochs/assets/878665639_708
  library/games/Egyptian Epochs/assets/90033529_2750
  library/games/Egyptian Epochs/assets/919082358_2358
  library/games/Egyptian Epochs/assets/996921940_289
Labels: library

#1496 Update Several Tutorials
  library/games/Comparisons/0.json
  library/tutorials/Color/0.json
  library/tutorials/Color/1.json
  library/tutorials/Color/assets/-965538703_6169
  library/tutorials/Dragging/0.json
  library/tutorials/Dragging/assets/-2094990741_5854
  library/tutorials/Enlarge/0.json
  library/tutorials/Enlarge/1.json
  library/tutorials/Functions - FOREACH/0.json
Labels: library

#1513 Allow widget movement limits
  client/js/jsonedit.js
  client/js/widgets/widget.js
Labels: enhancement, widget properties

#1459 adds pseudo player macro and changes comment notation
  client/js/jsonedit.js
Labels: enhancement, JSON editor

#1511 Add `spellCheck` to labels
  client/js/widgets/label.js
  library/tutorials/Functions - LABEL/0.json
Labels: enhancement, widget properties

#1407 Add html object type for cards.
  client/js/widgets/card.js
  client/js/widgets/widget.js
  library/tutorials/Decks/0.json
  library/tutorials/Decks/1.json
  library/tutorials/Decks/2.json
  library/tutorials/Decks/3.json
  library/tutorials/Decks/assets/-1069094621_382
  library/tutorials/Decks/assets/-1392412935_306
  library/tutorials/Decks/assets/-1433603109_304
  library/tutorials/Decks/assets/-1443227368_341
  library/tutorials/Decks/assets/-1464275780_382
  library/tutorials/Decks/assets/-1657637438_306
  library/tutorials/Decks/assets/-174008565_306
  library/tutorials/Decks/assets/-1947469753_382
  library/tutorials/Decks/assets/-241484756_5509
  library/tutorials/Decks/assets/-322863175_17578
  library/tutorials/Decks/assets/-32936487_30820
  library/tutorials/Decks/assets/-383195435_304
  library/tutorials/Decks/assets/-937265557_8220
  library/tutorials/Decks/assets/-970400507_304
  library/tutorials/Decks/assets/1111548579_341
  library/tutorials/Decks/assets/149642662_304
  library/tutorials/Decks/assets/1583348792_306
  library/tutorials/Decks/assets/1616717187_4996
  library/tutorials/Decks/assets/1938702977_341
  library/tutorials/Decks/assets/2017378147_382
  library/tutorials/Decks/assets/636175176_341
  library/tutorials/faceTemplates/assets/-1325453184_6798
  server.mjs
Labels: enhancement, widget properties

#1486 send meta update when setting state
  server/room.mjs
Labels: bug

#1530 Remove version of comparisons tutorial located in Games category
  library/games/Comparisons/0.json
Labels: library

#1522 Change About Overlay to show @mousewax created game pieces
  client/room.html
Labels: maintenance

#1531 Update SCORE Tutorial
  library/tutorials/Color/0.json
  library/tutorials/Color/1.json
  library/tutorials/Color/assets/803671191_3068
  library/tutorials/Functions - SCORE/0.json
  library/tutorials/Scoreboard/0.json
  library/tutorials/Scoreboard/1.json
  library/tutorials/Scoreboard/2.json
  tests/testcafe/publiclibrary.js
Labels: automated testing, library

#1523 fixed that arrow buttons in state details did not honor `showName`
  client/js/overlays/states.js
Labels: bug, user interface

#1533 support `#tutorials` to jump directly to Tutorials
  client/js/main.js
Labels: enhancement

#1526 Set currentParent to grandparent if immediate parent is a pile.
  client/js/widgets/widget.js
Labels: bug, widget properties, pile related

#1542 Remove `skip` tutorial
  library/tutorials/Skip/0.json
  library/tutorials/Skip/1.json
  library/tutorials/Skip/assets/-1056882444_3938
Labels: library

#1535 fixed weird numbers when spam-clicking star
  client/js/overlays/states.js
Labels: bug, user interface

#1527 Fix MOVEXY does not change owner
  client/js/jsonedit.js
  client/js/widgets/widget.js
  server/fileupdater.mjs
Labels: bug, routine operations

#1539 Add Senet to public library
  library/games/Senet/0.json
  library/games/Senet/assets/-2115246459_536956
  library/games/Senet/assets/-278711968_1330
  library/games/Senet/assets/-78804023_44226
  library/games/Senet/assets/-854925127_847
  library/games/Senet/assets/158322165_555
  library/games/Senet/assets/1640058402_954
  library/games/Senet/assets/2086639842_762
  library/games/Senet/assets/470422437_690
Labels: library

#1554 fixed TestCafé
  tests/testcafe/test-util.js
Labels: bug, maintenance

#1552 fixed loading old share links
  server/fileloader.mjs
Labels: bug

#1529 new game Found it! similar to Dobble
  library/games/Found it!/0.json
  library/games/Found it!/assets/-1056908540_1986
  library/games/Found it!/assets/-1180442849_1789
  library/games/Found it!/assets/-1218465266_2540
  library/games/Found it!/assets/-1266137705_2084
  library/games/Found it!/assets/-1292616672_3083
  library/games/Found it!/assets/-1409815098_2444
  library/games/Found it!/assets/-1489666537_1768
  library/games/Found it!/assets/-1499347270_2151
  library/games/Found it!/assets/-1764196643_1676
  library/games/Found it!/assets/-188386447_2027
  library/games/Found it!/assets/-1929155708_2751
  library/games/Found it!/assets/-1944350161_5443
  library/games/Found it!/assets/-1967288424_3465
  library/games/Found it!/assets/-2002504859_3486
  library/games/Found it!/assets/-27637343_2679
  library/games/Found it!/assets/-3523863_1896
  library/games/Found it!/assets/-356203466_2601
  library/games/Found it!/assets/-367186875_3416
  library/games/Found it!/assets/-426045326_1596
  library/games/Found it!/assets/-529243224_1443
  library/games/Found it!/assets/-563770875_3474
  library/games/Found it!/assets/-66888497_2391
  library/games/Found it!/assets/-889858120_4486
  library/games/Found it!/assets/-963929738_2490
  library/games/Found it!/assets/-974533495_2746
  library/games/Found it!/assets/1089455248_8101
  library/games/Found it!/assets/1132167978_2635
  library/games/Found it!/assets/1147627572_3424
  library/games/Found it!/assets/1263940053_4154
  library/games/Found it!/assets/1310674530_1662
  library/games/Found it!/assets/1315424084_2550
  library/games/Found it!/assets/1345807405_1237
  library/games/Found it!/assets/1393222171_2735
  library/games/Found it!/assets/142255067_2260
  library/games/Found it!/assets/1514626878_2990
  library/games/Found it!/assets/1610015696_3197
  library/games/Found it!/assets/1632990389_3021
  library/games/Found it!/assets/1685624377_2870
  library/games/Found it!/assets/1694292744_2953
  library/games/Found it!/assets/173938980_2157
  library/games/Found it!/assets/1758387474_1921
  library/games/Found it!/assets/178461537_2401
  library/games/Found it!/assets/1827382991_3263
  library/games/Found it!/assets/1831083997_2060
  library/games/Found it!/assets/1879691312_3502
  library/games/Found it!/assets/1892521853_2209
  library/games/Found it!/assets/1944719593_3789
  library/games/Found it!/assets/2067243118_2914
  library/games/Found it!/assets/272862963_3422
  library/games/Found it!/assets/440465862_2464
  library/games/Found it!/assets/517157253_2906
  library/games/Found it!/assets/553502523_3470
  library/games/Found it!/assets/555653370_2376
  library/games/Found it!/assets/5635330_2620
  library/games/Found it!/assets/631280657_2937
  library/games/Found it!/assets/642239699_1145
  library/games/Found it!/assets/828961206_2210
  library/games/Found it!/assets/987268825_2828
Labels: library

#1528 new game Cards Against Humanity
  library/games/Cards Against Humanity/0.json
  library/games/Cards Against Humanity/assets/-1319548906_11966
Labels: library

#1550 Fixes #1549 by comparing the transformed offset against the transfomed corner.
  client/js/geometry.js
  client/js/widgets/widget.js
Labels: bug

#1563 split type specific commands from widget commands in JSON editor
  client/js/jsonedit.js
Labels: enhancement, JSON editor

#1400 added pre-defined variables seatIndex, seatID and collection playerSeats
  client/js/jsonedit.js
  client/js/widgets/widget.js
  library/tutorials/Seats/0.json
  library/tutorials/Seats/1.json
  library/tutorials/Seats/2.json
  library/tutorials/Seats/3.json
  library/tutorials/Seats/4.json
Labels: enhancement, routine operations

#1569 fix mistake in sort tutorial
  library/tutorials/Functions - SELECT/2.json
  tests/testcafe/publiclibrary.js
Labels: bug, library

#1575 fixed moving a room to a beta server
  server/room.mjs
Labels: bug

#1546 update dependencies
  package-lock.json
  package.json
Labels: npm dependencies
