Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2023-04, with the labels that each got.

#1700 Clicking scoreboard shows better defaults in options
  client/js/widgets/scoreboard.js
Labels: enhancement, widget properties

#1683 Add clubs, hearts, diamonds, spades
  assets/fonts/VTT-Symbols.ttf
  assets/fonts/VTT-Symbols.woff
  assets/fonts/VTT-Symbols.woff2
  assets/icons/clubs.svg
  assets/icons/diamonds.svg
  assets/icons/hearts.svg
  assets/icons/spades.svg
  client/css/fonts.css
  client/room.html
  library/assets/Symbols/0.json
  library/assets/Symbols/1.json
Labels: enhancement

#1033 fixed label textarea height and scrollbars
  client/css/widgets/label.css
  client/js/widgets/label.js
  server/fileupdater.mjs
  tests/testcafe/publiclibrary.js
Labels: bug, user interface, needs file version bump, widget properties

#1722 removed empty deck from Animal Race
  library/games/Animal Race/0.json
Labels: bug, library

#1019 Pile overlay revamp
  client/css/layout.css
  client/js/widgets/pile.js
  client/room.html
  tests/testcafe/editor.js
Labels: enhancement, user interface

#1713 Add Knaves to Public Library
  library/games/Knaves/0.json
  library/games/Knaves/assets/783447468_37754
Labels: library

#1712 Update Stardust Butterfly Trying Again
  library/games/Stardust Butterfly/0.json
  library/games/Stardust Butterfly/assets/-190319193_541736
  library/games/Stardust Butterfly/assets/1028689729_554143
Labels: library

#1694 fixed background position in Blue
  library/games/Blue/0.json
  library/games/Blue/1.json
  tests/testcafe/publiclibrary.js
Labels: bug, library

#1706 added `verticalHeader` property to scoreboards
  client/css/widgets/scoreboard.css
  client/js/widgets/scoreboard.js
  library/tutorials/Scoreboard/0.json
  library/tutorials/Scoreboard/1.json
  library/tutorials/Scoreboard/2.json
Labels: enhancement, widget properties

#1705 Fix source problems in `TURN`
  client/js/widgets/widget.js
Labels: bug, enhancement, routine operations

#1714 Update Ultra in Public Library
  library/games/Ultra/0.json
Labels: library

#1566 Add room name to browser tab
  client/js/main.js
  config.template.json
Labels: user interface

#1707 fixed that scoreboard would redraw when dragging
  client/js/widgets/scoreboard.js
  client/js/widgets/seat.js
Labels: enhancement, widget properties

#1719 PCIO importer improvements
  client/js/jsonedit.js
  client/js/widgets/widget.js
  server/pcioimport.mjs
Labels: bug, enhancement, routine operations, PCIO compatibility

#1733 updated dependecies
  package-lock.json
  package.json
Labels: npm dependencies
