Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2023-10, with the labels that each got.

#1833 fixed a few JSON editor issues
  client/js/editor/sidebar/json.js
  client/js/jsonedit.js
  client/js/serverstate.js
Labels: bug, JSON editor

#1829 added property `hidePlayerCursors`
  client/css/overlays/players.css
  client/js/editmode.js
  client/js/mousehandling.js
  client/js/overlays/players.js
  client/js/widgets/widget.js
  server/fileupdater.mjs
  tests/testcafe/editor.js
  tests/testcafe/publiclibrary.js
Labels: enhancement, widget properties

#1718 `inheritFrom` no longer inherits defaults
  client/js/statemanaged.js
  client/js/widgets/widget.js
Labels: bug, widget properties

#1654 new holder property `showInactiveFaceToSeat`
  client/css/widgets/card.css
  client/css/widgets/holder.css
  client/js/widgets/holder.js
  client/js/widgets/seat.js
  client/js/widgets/widget.js
  library/games/Fireworks/0.json
  library/games/Fireworks/1.json
Labels: enhancement, widget properties

#1828 fixed dropTarget setting in editor
  client/js/editor/sidebar/properties.js
Labels: bug, JSON editor

#1756 fixed importing cardTypes from CSV
  client/js/editmode.js
  client/js/jsonedit.js
Labels: bug, JSON editor

#955 TTS importer
  client/room.html
  package-lock.json
  package.json
  server/fileloader.mjs
  server/ttsimport.mjs
Labels: enhancement

#1692 use copy and unlink instead of rename
  server/room.mjs
Labels: bug

#1835 added Open Graph support
  client/room.html
  package-lock.json
  package.json
  server.mjs
  server/minify.mjs
  tests/testcafe/editor.js
Labels: enhancement

#1848 fixed editing public library games without assets
  server/room.mjs
Labels: bug, maintenance, library

#1849 fixed that Nexus still linked to Midjourney URLs
  library/games/Nexus/0.json
  library/games/Nexus/assets/-1044832623_12640
  library/games/Nexus/assets/-740765467_32274
  library/games/Nexus/assets/-825222915_20794
Labels: bug, library

#1853 added `INPUT.header` to JSON editor commands
  client/js/jsonedit.js
Labels: bug, JSON editor

#1856 Fix so player cannot drag widgets off screen in play mode
  client/js/mousehandling.js
Labels: bug, user interface

#1846 Add Grid Lines Toggle Button to JSON Editor
  client/css/editor/layout.css
  client/css/layout.css
  client/js/editor/layout.js
  client/js/editor/toolbar/grid.js
  client/js/main.js
  client/room.html
  server/minify.mjs
Labels: enhancement, user interface

#1857 fixed download of Chinese Chess
  client/js/overlays/states.js
Labels: bug

#1858 It's just a game, Chill; Dice fix
  library/games/It's Just a Game, Chill/0.json
  library/games/It's Just a Game, Chill/1.json
  library/games/It's Just a Game, Chill/assets/-1197054393_48630
  library/games/It's Just a Game, Chill/assets/-1417464351_48233
  library/games/It's Just a Game, Chill/assets/-169609716_36565
  library/games/It's Just a Game, Chill/assets/-1846208178_36781
  library/games/It's Just a Game, Chill/assets/-1917428665_37723
  library/games/It's Just a Game, Chill/assets/-2094267382_31585
  library/games/It's Just a Game, Chill/assets/-281115846_49035
  library/games/It's Just a Game, Chill/assets/-384500910_49989
  library/games/It's Just a Game, Chill/assets/-788352442_40663
  library/games/It's Just a Game, Chill/assets/1285703129_44251
  library/games/It's Just a Game, Chill/assets/1289633700_46851
  library/games/It's Just a Game, Chill/assets/136562985_37299
  library/games/It's Just a Game, Chill/assets/1384430480_41253
  library/games/It's Just a Game, Chill/assets/1697908701_40061
  library/games/It's Just a Game, Chill/assets/1787376998_31661
  library/games/It's Just a Game, Chill/assets/1863200732_35303
  library/games/It's Just a Game, Chill/assets/1872203222_50118
  library/games/It's Just a Game, Chill/assets/1911681449_42037
  library/games/It's Just a Game, Chill/assets/1925169679_31051
  library/games/It's Just a Game, Chill/assets/333445090_41919
  library/games/It's Just a Game, Chill/assets/405509001_39966
  library/games/It's Just a Game, Chill/assets/6530566_31068
  library/games/It's Just a Game, Chill/assets/780552644_31850
  library/games/It's Just a Game, Chill/assets/934061303_40710
Labels: enhancement, library

#1850 added option to not clear the debug log automatically
  client/js/editor/sidebar/json.js
  client/js/jsonedit.js
Labels: enhancement, JSON editor

#1844 Update Dice: Appearance Tutorial
  library/tutorials/Dice/0.json
  library/tutorials/Dice/1.json
  library/tutorials/Dice/2.json
  library/tutorials/Dice/3.json
Labels: library

#1869 Allow cancel button on INPUT overlay to be hidden
  client/js/widgets/widget.js
  library/tutorials/Functions - INPUT/0.json
Labels: enhancement, routine operations

#1870 added `fillTo` to `MOVE`
  client/js/jsonedit.js
  client/js/widgets/widget.js
Labels: enhancement, routine operations

#1864 fixed cut off enlarged view
  client/css/widgets/card.css
Labels: bug, widget properties

#1863 allow strings in `inheritFrom`
  client/js/statemanaged.js
Labels: enhancement, widget properties

#1860 fixed `showInactiveFaceToSeat` with `enlarge`
  client/js/widgets/widget.js
  library/tutorials/Enlarge/0.json
  library/tutorials/Enlarge/1.json
  library/tutorials/Enlarge/assets/1354907148_10474
Labels: bug, widget properties

#1862 fixed inconsistent inheritance
  client/js/widgets/widget.js
Labels: bug, widget properties

#1873 fixed crash when pressing ESC on an INPUT overlay
  client/js/main.js
Labels: bug, user interface

#1877 handle websocket errors
  server/connection.mjs
Labels: bug

#1875 prevent crashes in asset downloader
  client/js/editor/sidebar/assets.js
  server.mjs
Labels: bug, JSON editor

#1874 card text layers default to black color
  client/js/widgets/card.js
Labels: bug, widget properties

#1871 added `INPUT` type `choose`
  client/css/layout.css
  client/js/domhelpers.js
  client/js/editmode.js
  client/js/editor/sidebar/properties.js
  client/js/jsonedit.js
  client/js/widgets/basicwidget.js
  client/js/widgets/card.js
  client/js/widgets/dice.js
  client/js/widgets/scoreboard.js
  client/js/widgets/seat.js
  client/js/widgets/widget.js
  library/games/Chess/0.json
  library/games/Don't Blow Up/0.json
  library/tutorials/Functions - INPUT/0.json
  library/tutorials/Functions - INPUT/1.json
Labels: enhancement, routine operations

#1879 prevent undoing initial state load
  client/js/editor/toolbar/undo.js
Labels: bug, JSON editor

#1878 Public Library: Update Floodplain Frenzy
  library/games/Floodplain Frenzy/0.json
Labels: enhancement, library

#1881 Update PL Shattered Dominion
  library/games/Shattered Dominion/0.json
Labels: library

#1880 Fix problem from setting card text layers to black by default
  client/js/widgets/card.js
Labels: bug, widget properties

#1852 added `fetch` compute function
  client/js/compute.js
  client/js/widgets/widget.js
Labels: enhancement, routine operations

#1883 increased production test wait time
  .github/workflows/production-environment.yml
Labels: enhancement, maintenance

#1882 added `regex` to `INPUT.string`
  client/js/jsonedit.js
  client/js/widgets/widget.js
  library/tutorials/Functions - INPUT/0.json
  library/tutorials/Functions - INPUT/1.json
Labels: enhancement, routine operations

#1851 added `jsonParse` and `jsonStringify` compute functions
  client/js/compute.js
  library/tutorials/JSON Operations/0.json
  library/tutorials/JSON Operations/assets/-6761455_2099
Labels: enhancement, routine operations

#1886 added Designer to similar game metadata
  client/js/overlays/states.js
  client/room.html
Labels: enhancement, user interface

#1884 Public Library: Add Star Exhibit
  library/games/Star Exhibit/0.json
  library/games/Star Exhibit/assets/-106307968_4808
  library/games/Star Exhibit/assets/-1089676803_3836
  library/games/Star Exhibit/assets/-1157108733_4201
  library/games/Star Exhibit/assets/-1162558247_32303
  library/games/Star Exhibit/assets/-1219224563_4112
  library/games/Star Exhibit/assets/-1270821421_7587
  library/games/Star Exhibit/assets/-1679125421_3409
  library/games/Star Exhibit/assets/-2126219631_4062
  library/games/Star Exhibit/assets/-242450138_367
  library/games/Star Exhibit/assets/-562727132_4491
  library/games/Star Exhibit/assets/-760766042_7846
  library/games/Star Exhibit/assets/-814413493_11255
  library/games/Star Exhibit/assets/-840377408_367
  library/games/Star Exhibit/assets/-879747006_7050
  library/games/Star Exhibit/assets/-901862059_367
  library/games/Star Exhibit/assets/-975305677_235
  library/games/Star Exhibit/assets/1249896531_3383
  library/games/Star Exhibit/assets/1323627045_4743
  library/games/Star Exhibit/assets/1477299409_5116
  library/games/Star Exhibit/assets/1528314348_4240
  library/games/Star Exhibit/assets/1663521268_7689
  library/games/Star Exhibit/assets/1705382689_367
  library/games/Star Exhibit/assets/1823122573_367
  library/games/Star Exhibit/assets/1838260712_9365
  library/games/Star Exhibit/assets/1865010259_367
  library/games/Star Exhibit/assets/1913972351_27704
  library/games/Star Exhibit/assets/238079702_5893
  library/games/Star Exhibit/assets/244715587_2575
  library/games/Star Exhibit/assets/293232559_4527
  library/games/Star Exhibit/assets/438246090_367
  library/games/Star Exhibit/assets/440246415_3812
  library/games/Star Exhibit/assets/583624054_259
  library/games/Star Exhibit/assets/708410678_139305
  library/games/Star Exhibit/assets/751959099_4868
  library/games/Star Exhibit/assets/760414833_10909
  library/games/Star Exhibit/assets/852625193_7723
  library/games/Star Exhibit/assets/983120683_8336
Labels: enhancement, library

#1890 PL Safari Scramble: Cover image, license, help text
  library/games/Safari Scramble/0.json
  library/games/Safari Scramble/assets/-1235949203_61376
  library/games/Safari Scramble/assets/1513438080_189203
Labels: enhancement, library

#1885 Public Library: Add Wall Street Bets
  library/games/Wall Street Bets/0.json
  library/games/Wall Street Bets/assets/-1321565871_3357
  library/games/Wall Street Bets/assets/-1468932466_12356
  library/games/Wall Street Bets/assets/-1708270000_315
  library/games/Wall Street Bets/assets/-1718610635_202634
  library/games/Wall Street Bets/assets/-173838546_13628
  library/games/Wall Street Bets/assets/-375752173_3728
  library/games/Wall Street Bets/assets/-382658565_965
  library/games/Wall Street Bets/assets/-485094233_7898
  library/games/Wall Street Bets/assets/-678130333_97657
  library/games/Wall Street Bets/assets/-807640662_2715
  library/games/Wall Street Bets/assets/1265334863_24469
  library/games/Wall Street Bets/assets/1408235603_1288
  library/games/Wall Street Bets/assets/1498549_13366
  library/games/Wall Street Bets/assets/1507952319_1116
  library/games/Wall Street Bets/assets/1576629398_255
  library/games/Wall Street Bets/assets/1929273021_3317
  library/games/Wall Street Bets/assets/273860642_3829
  library/games/Wall Street Bets/assets/280034795_477
  library/games/Wall Street Bets/assets/513619282_13058
  library/games/Wall Street Bets/assets/715036293_4118
  library/games/Wall Street Bets/assets/846740500_837
  library/games/Wall Street Bets/assets/987893692_12858
Labels: enhancement, library

#1895 fixed `INPUT.choose` visualization inheriting undesired properties
  client/js/widgets/widget.js
Labels: bug, routine operations

#1891 Public Library: Add Delicious Deliveries
  library/games/Delicious Deliveries/0.json
  library/games/Delicious Deliveries/assets/-408480321_3830
  library/games/Delicious Deliveries/assets/-705565880_1529
  library/games/Delicious Deliveries/assets/1147096694_3645
  library/games/Delicious Deliveries/assets/139538338_2611
  library/games/Delicious Deliveries/assets/1457797325_1602
  library/games/Delicious Deliveries/assets/572928916_736
  library/games/Delicious Deliveries/assets/828785685_3549
  library/games/Delicious Deliveries/assets/957305411_260972
Labels: enhancement, library

#1889 added `html` to basic widget
  client/js/widgets/basicwidget.js
  client/js/widgets/widget.js
  library/tutorials/HTML/0.json
  library/tutorials/HTML/assets/-1962061517_1696
Labels: enhancement, widget properties

#1893 allow card face text color to be set at face level
  client/css/widgets/card.css
  client/js/widgets/card.js
Labels: bug, widget properties

#1490 updated The Team with seats, missions and better task management
  library/games/The Team/0.json
  library/games/The Team/1.json
  library/games/The Team/2.json
  library/games/The Team/3.json
  library/games/The Team/assets/-712431354_18953
Labels: library

#1896 hide empty `INPUT` labels
  client/css/layout.css
Labels: enhancement, user interface

#1899 removed old editor code
  client/components/baseEditOverlay.js
  client/components/deckEditor.js
  client/components/loadComponents.js
  client/js/editmode.js
  package-lock.json
  package.json
  server/minify.mjs
Labels: enhancement, maintenance

#1897 PL Tutorial JSON Operations - Add 2 new variants
  library/tutorials/HTML/0.json
  library/tutorials/HTML/assets/-1962061517_1696
  library/tutorials/HTML/assets/-388042036_2057
  library/tutorials/JSON Operations/0.json
  library/tutorials/JSON Operations/1.json
  library/tutorials/JSON Operations/2.json
  library/tutorials/JSON Operations/assets/-6761455_2099
  library/tutorials/JSON Operations/assets/2065554226_6111
Labels: library
