Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2023-11, with the labels that each got.

#1892 emoji to image replacement with less broken images
  client/js/domhelpers.js
Labels: bug

#1861 fixed `showInactiveFaceToSeat` flashing wrong face when hovering
  client/js/widgets/widget.js
Labels: bug, widget properties

#1888 added `collection` support to `MOVE`
  client/js/jsonedit.js
  client/js/widgets/widget.js
  library/tutorials/Functions - MOVE/0.json
Labels: enhancement, routine operations

#1903 adds Spring Cleaning
  library/games/Spring Cleaning/0.json
  library/games/Spring Cleaning/assets/-1273217503_264940
  library/games/Spring Cleaning/assets/-1437369679_17872
  library/games/Spring Cleaning/assets/-144550471_252727
  library/games/Spring Cleaning/assets/-1632136897_281272
  library/games/Spring Cleaning/assets/-1877962591_11360
  library/games/Spring Cleaning/assets/-2035310327_217112
  library/games/Spring Cleaning/assets/-95539708_80591
  library/games/Spring Cleaning/assets/1110190640_12032
  library/games/Spring Cleaning/assets/1259383691_187927
  library/games/Spring Cleaning/assets/1412155391_223339
  library/games/Spring Cleaning/assets/1787747762_221161
  library/games/Spring Cleaning/assets/188827192_1681353
  library/games/Spring Cleaning/assets/2125545053_215121
  library/games/Spring Cleaning/assets/2132500640_14972
  library/games/Spring Cleaning/assets/605136899_222200
  library/games/Spring Cleaning/assets/716961149_87238
  library/games/Spring Cleaning/assets/747354153_182239
  library/games/Spring Cleaning/assets/866880531_284975
  library/games/Spring Cleaning/assets/905543181_22476
Labels: enhancement, library

#1907 added back mouse coordinates to editor
  client/css/jsonedit.css
  client/editor.html
  client/js/jsonedit.js
Labels: enhancement, JSON editor

#1909 added `solo` to Flight game mode
  library/games/Flight/0.json
Labels: enhancement, JSON editor

#1906 Improvements to HTML tutorial
  library/tutorials/HTML/0.json
Labels: library

#1911 fixed typo in Expeditions rules
  library/games/Expeditions/0.json
  library/games/Expeditions/assets/-1134603049_95720
  library/games/Expeditions/assets/-2041902066_108866
Labels: bug, library

#1902 save features in the editor
  client/css/editor/toolbar.css
  client/js/domhelpers.js
  client/js/editmode.js
  client/js/editor/layout.js
  client/js/editor/sidebar/assets.js
  client/js/editor/sidebarModule.js
  client/js/editor/toolbar/save.js
  client/js/editor/toolbarButton.js
  client/js/main.js
  client/js/overlays/states.js
  server.mjs
  server/room.mjs
  tests/testcafe/editor.js
  tests/testcafe/functions.js
Labels: enhancement, JSON editor

#1914 use `INPUT.choose` for PCIO chooser import
  server/pcioimport.mjs
Labels: enhancement, PCIO compatibility

#1912 fixed hidden `INPUT.switch`
  client/css/layout.css
  client/js/domhelpers.js
Labels: bug, routine operations

#1913 fixed `INPUT.choose` crash with invalid `collection`
  client/js/widgets/widget.js
Labels: bug, routine operations

#1920 Add Designer to Several PL Games
  library/games/Ambagibus/0.json
  library/games/Hexagonal Chess/0.json
  library/games/Ich mag keine Karten/0.json
  library/games/Into the Castle/0.json
  library/games/King of Dice/0.json
  library/games/Magician/0.json
  library/games/Maki Roll/0.json
  library/games/Moving Walls/0.json
  library/games/No Cheese No Coin/0.json
  library/games/Peak Performance/0.json
  library/games/Quad Line 3D/0.json
  library/games/Reward/0.json
  library/games/Roar/0.json
  library/games/Scrappet Kaiser Princess/0.json
  library/games/Shattered Dominion/0.json
  library/games/Stacker/0.json
  library/games/Stardust Butterfly/0.json
Labels: library

#1915 fixed PCIO import of `MOVE` and `FLIP`
  server/pcioimport.mjs
Labels: enhancement, PCIO compatibility

#1917 added dropdown arrow to `INPUT.select`
  client/css/layout.css
  client/js/domhelpers.js
Labels: enhancement, user interface

#1928 Add Pumpkin Curse to PL
  library/games/Pumpkin Curse/0.json
  library/games/Pumpkin Curse/assets/-1372554968_23131
  library/games/Pumpkin Curse/assets/-1487497840_3012
  library/games/Pumpkin Curse/assets/-427569998_10457
  library/games/Pumpkin Curse/assets/10264643_3002
  library/games/Pumpkin Curse/assets/1977535515_61266
  library/games/Pumpkin Curse/assets/2024442949_4417
  library/games/Pumpkin Curse/assets/2135177327_1728
  library/games/Pumpkin Curse/assets/893121837_5201
Labels: library

#1921 fixed 1px shift when hovering card over holder
  client/css/widgets/holder.css
Labels: bug

#1929 Add Flower Poker to PL
  library/games/Flower Poker/0.json
  library/games/Flower Poker/assets/-1372520750_21158
  library/games/Flower Poker/assets/-1372554968_23131
  library/games/Flower Poker/assets/1602757269_17993
  library/games/Flower Poker/assets/2024442949_4417
  library/games/Flower Poker/assets/404279906_13429
  library/games/Flower Poker/assets/553132811_83472
  library/games/Flower Poker/assets/702092797_63706
  library/games/Pumpkin Curse/0.json
  library/games/Pumpkin Curse/assets/787032210_74574
Labels: library

#1934 Add Public Library game Sunshine and Rainbows
  library/games/Sunshine and Rainbows/0.json
  library/games/Sunshine and Rainbows/assets/-608334469_20336
  library/games/Sunshine and Rainbows/assets/966441630_289522
Labels: enhancement, library

#1930 Add Naval Warfare to PL
  library/games/Naval Warfare/0.json
  library/games/Naval Warfare/assets/-1220508055_35142
  library/games/Naval Warfare/assets/-1363897938_99410
  library/games/Naval Warfare/assets/527842758_40444
Labels: library

#1933 Add Word Stax to PL
  library/games/WORD STAX/0.json
  library/games/WORD STAX/assets/-1206456240_39019
  library/games/WORD STAX/assets/-1662147107_913402
  library/games/WORD STAX/assets/-1864905600_4272
  library/games/WORD STAX/assets/-1973513754_4324
  library/games/WORD STAX/assets/-679620860_5644
  library/games/WORD STAX/assets/-830930845_218295
  library/games/WORD STAX/assets/1906193786_5530
  library/games/WORD STAX/assets/192442629_93115
  library/games/WORD STAX/assets/566423870_4404
  library/games/WORD STAX/assets/681836369_6690
  library/games/WORD STAX/assets/751495587_14296
  library/games/WORD STAX/assets/77365645_57244
Labels: library

#1935 Add Dice Conflict to PL
  library/games/Dice Conflict/0.json
  library/games/Dice Conflict/assets/-1481616029_13437
  library/games/Dice Conflict/assets/-1525470384_17021
  library/games/Dice Conflict/assets/-1742335256_16911
  library/games/Dice Conflict/assets/-1777800622_16875
  library/games/Dice Conflict/assets/-1885875347_22818
  library/games/Dice Conflict/assets/-2012917844_13275
  library/games/Dice Conflict/assets/-341030460_13236
  library/games/Dice Conflict/assets/-357015112_16896
  library/games/Dice Conflict/assets/-370467595_15391
  library/games/Dice Conflict/assets/-696939040_12858
  library/games/Dice Conflict/assets/-836184832_17415
  library/games/Dice Conflict/assets/1049566273_19583
  library/games/Dice Conflict/assets/1165430013_16355
  library/games/Dice Conflict/assets/2043179308_13442
  library/games/Dice Conflict/assets/847460824_18477
Labels: library

#1923 Add 'excludeCollection' parameter to `RECALL`
  client/js/jsonedit.js
  client/js/widgets/widget.js
  library/games/Flora/0.json
  library/tutorials/Functions - RECALL and SHUFFLE/0.json
Labels: enhancement, routine operations

#1941 Add Comment Button to JSON Editor
  client/js/jsonedit.js
Labels: enhancement, JSON editor

#1932 added public library game Cheer Up! (similar to Skyjo)
  library/games/Cheer Up!/0.json
  library/games/Cheer Up!/assets/-1038224261_23150
  library/games/Cheer Up!/assets/-1111084776_4336
  library/games/Cheer Up!/assets/-1346046630_29910
  library/games/Cheer Up!/assets/-1404036895_9290
  library/games/Cheer Up!/assets/-1888456412_8618
  library/games/Cheer Up!/assets/1089590616_16052
  library/games/Cheer Up!/assets/1736022960_6024
Labels: enhancement, library

#1936 added JSON commands for picking a symbol
  client/css/editor/dragtoolbar.css
  client/css/fonts.css
  client/js/domhelpers.js
  client/js/jsonedit.js
  client/js/main.js
Labels: enhancement, JSON editor

#1950 fixed PCIO import
  server/pcioimport.mjs
Labels: bug, PCIO compatibility

#1947 feedback when pressing `INPUT` button
  client/js/widgets/widget.js
Labels: enhancement, user interface

#1824 added asset compression to editor
  client/css/editor/sidebarModules.css
  client/css/layout.css
  client/js/domhelpers.js
  client/js/editor/sidebar/assets.js
  client/js/main.js
Labels: enhancement, JSON editor

#1942 Add skipTurn for seats and TURN
  client/js/widgets/seat.js
  client/js/widgets/widget.js
  server/fileupdater.mjs
Labels: enhancement, needs file version bump, routine operations, widget properties

#1943 Support seat id in `TURN` with mode "seat"
  client/js/jsonedit.js
  client/js/widgets/widget.js
  library/tutorials/Seats/0.json
  library/tutorials/Seats/1.json
  library/tutorials/Seats/2.json
  library/tutorials/Seats/3.json
  library/tutorials/Seats/4.json
Labels: enhancement, routine operations

#1957 always show all symbols for metadata icon picker
  client/js/domhelpers.js
Labels: bug, user interface

#1826 added cardType management to editor
  client/css/editor/sidebarModules.css
  client/js/editor/sidebar/properties.js
Labels: enhancement, JSON editor

#1965 only allow dropping files in Game Shelf
  client/js/overlays/states.js
Labels: bug, user interface

#1956 Fix seat counter not working with piles
  client/js/editmode.js
  tests/testcafe/editor.js
Labels: bug, routine operations

#1964 fixed deck editor crash when the deck has no cards
  client/js/editor/sidebar/properties.js
Labels: bug, JSON editor

#1963 fixed crash when editing an in-progress game save
  client/js/editor/toolbar/save.js
Labels: bug, JSON editor

#1958 New PL Game Property Tycoon
  library/games/Property Tycoon/0.json
  library/games/Property Tycoon/assets/-1083889131_29456
  library/games/Property Tycoon/assets/-1093804164_29076
  library/games/Property Tycoon/assets/-1536690975_44224
  library/games/Property Tycoon/assets/-1692524218_27202
  library/games/Property Tycoon/assets/-1725866131_30158
  library/games/Property Tycoon/assets/-1793842379_30348
  library/games/Property Tycoon/assets/-1938491208_33000
  library/games/Property Tycoon/assets/-238676672_33458
  library/games/Property Tycoon/assets/-256784876_45280
  library/games/Property Tycoon/assets/-323858038_36036
  library/games/Property Tycoon/assets/-461418285_20016
  library/games/Property Tycoon/assets/-60881435_32434
  library/games/Property Tycoon/assets/-791102877_3762
  library/games/Property Tycoon/assets/-806571124_25800
  library/games/Property Tycoon/assets/1115049079_4196
  library/games/Property Tycoon/assets/1141146227_36968
  library/games/Property Tycoon/assets/1145918494_33548
  library/games/Property Tycoon/assets/1223258066_38936
  library/games/Property Tycoon/assets/1292480925_38982
  library/games/Property Tycoon/assets/1328733152_34236
  library/games/Property Tycoon/assets/1358630828_25326
  library/games/Property Tycoon/assets/1429448308_35238
  library/games/Property Tycoon/assets/1500406247_40612
  library/games/Property Tycoon/assets/1663965515_33484
  library/games/Property Tycoon/assets/1837547134_26064
  library/games/Property Tycoon/assets/1911654755_20344
  library/games/Property Tycoon/assets/1967845670_25312
  library/games/Property Tycoon/assets/2047556568_21100
  library/games/Property Tycoon/assets/2104595438_28474
  library/games/Property Tycoon/assets/232090124_19436
  library/games/Property Tycoon/assets/586262697_102626
  library/games/Property Tycoon/assets/81311149_36818
  library/games/Property Tycoon/assets/904292214_36940
  library/games/Property Tycoon/assets/99899856_18020
Labels: enhancement, library

#1961 PL Add Terra versus Aqua
  library/games/Terra versus Aqua/0.json
Labels: enhancement, library

#1980 PL Word Stax Fix Language Dash
  library/games/WORD STAX/0.json
Labels: library

#1975 Ambagibus: turned links into assets and cleaned up rules text
  library/games/Ambagibus/0.json
  library/games/Ambagibus/assets/-1069036628_10378
  library/games/Ambagibus/assets/-1431684742_22670
  library/games/Ambagibus/assets/-952382420_7989
  library/games/Ambagibus/assets/282824309_9012
Labels: bug, library

#1976 PL: Add Zen Poker
  library/games/Zen Poker/0.json
  library/games/Zen Poker/assets/-1372554968_23131
  library/games/Zen Poker/assets/-427569998_10457
  library/games/Zen Poker/assets/1004307115_15194
  library/games/Zen Poker/assets/2024442949_4417
  library/games/Zen Poker/assets/553132811_83472
Labels: enhancement, library

#1979 PL Update Wordy
  library/games/Wordy/0.json
  library/games/Wordy/assets/-1478225327_204716
  library/games/Wordy/assets/-1955292820_80961
  library/games/Wordy/assets/-2054978455_1964
  library/games/Wordy/assets/1176765544_105952
  library/games/Wordy/assets/1670635785_22789
  library/games/Wordy/assets/234275287_8512
Labels: enhancement, library

#1986 PL Add Bear Necessities
  library/games/Bear Necessities/0.json
  library/games/Bear Necessities/assets/-1019146516_4129
  library/games/Bear Necessities/assets/-690897813_8777
  library/games/Bear Necessities/assets/-965585842_6183
  library/games/Bear Necessities/assets/-981377633_5312
  library/games/Bear Necessities/assets/1070416604_3587
  library/games/Bear Necessities/assets/1844769995_6742
  library/games/Bear Necessities/assets/1987278882_12027
  library/games/Bear Necessities/assets/445464681_3064
Labels: enhancement, library

#1987 PL Update Bear Necessities - Fix typo in meta data description
  library/games/Bear Necessities/0.json
Labels: library

#1945 added public library game Frontiers (similar to Catan)
  library/games/Frontiers/0.json
  library/games/Frontiers/assets/-126126741_56719
  library/games/Frontiers/assets/-1484376603_2156
  library/games/Frontiers/assets/-1486155561_696
  library/games/Frontiers/assets/-1514828793_28486
  library/games/Frontiers/assets/-1557821007_92195
  library/games/Frontiers/assets/-1578141657_23133
  library/games/Frontiers/assets/-1592704727_1842
  library/games/Frontiers/assets/-1665218875_74289
  library/games/Frontiers/assets/-1689474207_3199
  library/games/Frontiers/assets/-169209238_31160
  library/games/Frontiers/assets/-1822468622_54759
  library/games/Frontiers/assets/-1898333693_192161
  library/games/Frontiers/assets/-1926169272_54900
  library/games/Frontiers/assets/-1946561110_51190
  library/games/Frontiers/assets/-2123555983_30978
  library/games/Frontiers/assets/-311499793_82807
  library/games/Frontiers/assets/-360856728_30578
  library/games/Frontiers/assets/-364662411_24599
  library/games/Frontiers/assets/-376157308_4525
  library/games/Frontiers/assets/-609772913_122240
  library/games/Frontiers/assets/-679093699_2340
  library/games/Frontiers/assets/-83262525_1527
  library/games/Frontiers/assets/-969319947_74305
  library/games/Frontiers/assets/1395803033_37648
  library/games/Frontiers/assets/1446073117_15347
  library/games/Frontiers/assets/1450298960_901171
  library/games/Frontiers/assets/1466053893_1105
  library/games/Frontiers/assets/1528555926_62937
  library/games/Frontiers/assets/1615791162_1102
  library/games/Frontiers/assets/1653453721_76477
  library/games/Frontiers/assets/1669210676_60695
  library/games/Frontiers/assets/1706672985_296413
  library/games/Frontiers/assets/1892519167_27574
  library/games/Frontiers/assets/1992812108_11913
  library/games/Frontiers/assets/2135464284_49960
  library/games/Frontiers/assets/2140985520_33573
  library/games/Frontiers/assets/220859627_97097
  library/games/Frontiers/assets/236176922_33118
  library/games/Frontiers/assets/424202445_7079
  library/games/Frontiers/assets/425736110_41453
  library/games/Frontiers/assets/460454568_40150
  library/games/Frontiers/assets/568388134_11881
  library/games/Frontiers/assets/876283773_705095
  library/games/Frontiers/assets/981379664_23485
Labels: enhancement, library
