Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2023-03, with the labels that each got.

#1660 improved asset handling when adding games to the public library
  server/room.mjs
Labels: bug, library

#1666 added missing `await` in `snapToGrid`
  client/js/widgets/widget.js
Labels: bug

#1656 Don't target foreign holders even if they're close - fixes #1651
  client/css/layout.css
  client/js/main.js
Labels: bug, JSON editor, Ready for merge

#1641 Use the same positioning code for the drop shadow as moveend
  client/js/mousehandling.js
  client/js/widgets/widget.js
Labels: Ready for merge

#1647 PCIO import improvements
  server/pcioimport.mjs
Labels: enhancement, PCIO compatibility

#1608 GET supports sub-properties of objects
  client/js/widgets/widget.js
Labels: enhancement, routine operations

#1646 UI Explanation Update for In-Progress Games
  client/room.html
Labels: user interface

#1668 always show uploading games
  client/js/overlays/states.js
Labels: enhancement, user interface

#1669 updated dependencies
  package-lock.json
  package.json
Labels: npm dependencies

#1675 fixed dice in `Liar's Dice`
  library/games/Liar's Dice/0.json
Labels: bug, library

#1673 Add King of Dice
  library/games/King of Dice/0.json
  library/games/King of Dice/assets/-162102638_4499
  library/games/King of Dice/assets/-2019559871_44744
  library/games/King of Dice/assets/-295876720_4730
  library/games/King of Dice/assets/-427569998_10457
  library/games/King of Dice/assets/-655129137_25962
  library/games/King of Dice/assets/192263048_2343745
  library/games/King of Dice/assets/739087582_187737
  library/games/King of Dice/assets/906883924_1661
Labels: library

#1568 Add pileSnapRange property to piles.
  client/js/widgets/pile.js
  client/js/widgets/widget.js
  library/tutorials/Piles/0.json
  library/tutorials/Piles/1.json
  library/tutorials/Piles/2.json
  library/tutorials/Piles/3.json
Labels: enhancement, widget properties, Ready for merge

#1570 Replace ${THIS} in selectors with a selector for the widget element.
  client/js/widgets/widget.js
Labels: enhancement, widget properties, Ready for merge

#1676 Add new `GET` tutorial variant for sub-properties
  library/tutorials/Functions - GET/0.json
  library/tutorials/Functions - GET/1.json
  library/tutorials/Functions - GET/2.json
Labels: library

#1674 Fix coordinate rounding
  client/js/widgets/widget.js
Labels: bug

#1483 new game Hnefatafl
  library/games/Hnefatafl/0.json
  library/games/Hnefatafl/assets/1376785532_28635
Labels: library

#1691 search for cardTypes in JSON editor tree view
  client/js/jsonedit.js
Labels: enhancement, JSON editor

#1689 added chooser support to PCIO importer
  server/pcioimport.mjs
Labels: enhancement, PCIO compatibility

#1701 updated dependecies
  package-lock.json
  package.json
Labels: npm dependencies

#1699 lazy-load game library images so the active game loads first
  client/js/overlays/states.js
Labels: enhancement, user interface

#1696 Fantasy Wars: fixed typos and overlapping text
  library/games/Fantasy Wars/0.json
  library/games/Fantasy Wars/1.json
Labels: library

#1710 Update Investors
  library/games/Investors/0.json
Labels: library
