Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2023-05, with the labels that each got.

#1739 PL Update - Fix Typo in Knaves
  library/games/Knaves/0.json
Labels: library

#1738 only set inheritChildZ for pile holders
  server/pcioimport.mjs
Labels: bug, PCIO compatibility

#1736 PL Update Five Of A Kind
  library/games/Five of a Kind/0.json
Labels: library

#1732 PL Update - Flatten the Curve
  library/games/Flatten the Curve/0.json
Labels: library

#1737 PL Add Ambagibus
  library/games/Ambagibus/0.json
  library/games/Ambagibus/assets/-117543953_40704
  library/games/Ambagibus/assets/-1300226241_35713
  library/games/Ambagibus/assets/-1428751679_41084
  library/games/Ambagibus/assets/-1429046078_40057
  library/games/Ambagibus/assets/-1473925223_39965
  library/games/Ambagibus/assets/-1486356707_45000
  library/games/Ambagibus/assets/-154156468_44944
  library/games/Ambagibus/assets/-1656996203_40466
  library/games/Ambagibus/assets/-1692719846_41275
  library/games/Ambagibus/assets/-1698743716_37516
  library/games/Ambagibus/assets/-2009099698_91372
  library/games/Ambagibus/assets/-2051028539_42036
  library/games/Ambagibus/assets/-2080283492_90996
  library/games/Ambagibus/assets/-2145649486_39818
  library/games/Ambagibus/assets/-255310197_35112
  library/games/Ambagibus/assets/-28908648_41611
  library/games/Ambagibus/assets/-384008543_40751
  library/games/Ambagibus/assets/-60044908_45134
  library/games/Ambagibus/assets/-604171810_42023
  library/games/Ambagibus/assets/-673333526_35162
  library/games/Ambagibus/assets/-903175161_41161
  library/games/Ambagibus/assets/-99427603_53765
  library/games/Ambagibus/assets/1290850165_35883
  library/games/Ambagibus/assets/1334409387_40911
  library/games/Ambagibus/assets/1337571653_40725
  library/games/Ambagibus/assets/1381490833_54029
  library/games/Ambagibus/assets/1470905125_39675
  library/games/Ambagibus/assets/1603132336_39819
  library/games/Ambagibus/assets/1652089481_40880
  library/games/Ambagibus/assets/1721369728_35813
  library/games/Ambagibus/assets/1871283421_35846
  library/games/Ambagibus/assets/1991379143_41995
  library/games/Ambagibus/assets/470988982_34414
  library/games/Ambagibus/assets/570267760_35861
  library/games/Ambagibus/assets/593918795_10186
  library/games/Ambagibus/assets/606608815_34954
  library/games/Ambagibus/assets/661219299_36194
  library/games/Ambagibus/assets/664067709_40912
  library/games/Ambagibus/assets/767358455_39612
  library/games/Ambagibus/assets/795999629_46361
  library/games/Ambagibus/assets/866501510_40297
Labels: library

#1721 Update Dix Cards
  library/games/Dix Cards/0.json
Labels: bug, library

#1751 Update Public Library Language Metadata
  library/games/Knaves/0.json
  library/games/Wordy/0.json
Labels: library

#1757 Add Card Games to Public Library
  assets/cards-tarot/CC.png
  assets/cards-tarot/CD.png
  assets/cards-tarot/CH.png
  assets/cards-tarot/CS.png
  assets/cards-tarot/Fool.jpg
  assets/cards-tarot/I.jpg
  assets/cards-tarot/II.jpg
  assets/cards-tarot/III.jpg
  assets/cards-tarot/IV.jpg
  assets/cards-tarot/IX.jpg
  assets/cards-tarot/V.jpg
  assets/cards-tarot/VI.jpg
  assets/cards-tarot/VII.jpg
  assets/cards-tarot/VIII.jpg
  assets/cards-tarot/X.jpg
  assets/cards-tarot/XI.jpg
  assets/cards-tarot/XII.jpg
  assets/cards-tarot/XIII.jpg
  assets/cards-tarot/XIV.jpg
  assets/cards-tarot/XIX.jpg
  assets/cards-tarot/XV.jpg
  assets/cards-tarot/XVI.jpg
  assets/cards-tarot/XVII.jpg
  assets/cards-tarot/XVIII.jpg
  assets/cards-tarot/XX.jpg
  assets/cards-tarot/XXI.jpg
  assets/cards-tarot/license.md
  library/games/Card Games/0.json
  library/games/Card Games/assets/-132931377_41422
  library/games/Card Games/assets/-1385636741_20708
  library/games/Card Games/assets/-1553973424_45799
  library/games/Card Games/assets/-1568599145_166
  library/games/Card Games/assets/-1621614558_232776
  library/games/Card Games/assets/-1882019559_61400
  library/games/Card Games/assets/-1902243833_1899
  library/games/Card Games/assets/-1916416668_55183
  library/games/Card Games/assets/-1936516067_36132
  library/games/Card Games/assets/-2012896688_55008
  library/games/Card Games/assets/-359721987_40577
  library/games/Card Games/assets/-374765193_624
  library/games/Card Games/assets/-511606639_49182
  library/games/Card Games/assets/-560751544_37381
  library/games/Card Games/assets/-604240792_36033
  library/games/Card Games/assets/-696466837_31225
  library/games/Card Games/assets/-862690059_30988
  library/games/Card Games/assets/1085111785_36695
  library/games/Card Games/assets/1223694940_1675
  library/games/Card Games/assets/1360797652_307
  library/games/Card Games/assets/186106283_20117
  library/games/Card Games/assets/2115758924_42014
  library/games/Card Games/assets/300806009_987
  library/games/Card Games/assets/401943957_1066
  library/games/Card Games/assets/540552680_36949
  library/games/Card Games/assets/561096434_3030
Labels: library

#1758 Added ability to specify tabindex and placeholder text for labels
  client/js/widgets/label.js
Labels: enhancement, widget properties
