Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2023-07, with the labels that each got.

#1785 remove unused deck from Animal Race
  library/games/Animal Race/0.json
Labels: bug, library

#1784 no longer require a server restart after editing public library
  server.mjs
  server/room.mjs
Labels: enhancement, maintenance

#1750 Tutorial Update - `inheritFrom`
  library/tutorials/inheritFrom/0.json
Labels: library

#1793 adds hexagonal chess
  library/games/Hexagonal Chess/0.json
  library/games/Hexagonal Chess/assets/-1204226281_296
  library/games/Hexagonal Chess/assets/1726863610_113212
Labels: enhancement, library

#1795 PL Hexagonal Chess - Add Missing Metadata
  library/games/Hexagonal Chess/0.json
Labels: library

#1797 fixed minifier problem with #1791
  client/js/widgets/widget.js
Labels: bug, maintenance

#1800 PL Fix Alphabet Soup
  library/games/Alphabet Soup/0.json
Labels: library

#1803 PL Fix Tantrums
  library/games/Tantrums/0.json
Labels: library
