Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2024-06, with the labels that each got.

#2137 PL - Update Spring Cleaning
  library/games/Spring Cleaning/0.json
Labels: library

#2140 Public Library - Update Great Greece
  library/games/Great Greece/0.json
Labels: bug

#2143 Public Library - Update Godaigo
  library/games/Godaigo/0.json
  library/games/Godaigo/assets/-1080469630_37442
  library/games/Godaigo/assets/-1615760585_38210
Labels: library

#2146 Fix unreadable overlay font color in dark mode
  client/css/layout.css
Labels: bug, user interface

#2145 Add Toolbar buttons with links to wiki and tutorials
  client/js/editor/layout.js
  client/js/editor/toolbar/tutorials.js
  client/js/editor/toolbar/wiki.js
  server/minify.mjs
Labels: enhancement, user interface

#2135 added a generic asset upload command
  client/js/jsonedit.js
Labels: enhancement, editor

#2118 fixed that removing the `type` property would not change the widget to a basic widget
  client/js/editmode.js
Labels: bug, widget properties

#2096 Fix typo in player.JS
  client/js/overlays/players.js
  library/tutorials/CSS/0.json
  library/tutorials/CSS/1.json
  library/tutorials/CSS/2.json
  library/tutorials/CSS/3.json
  library/tutorials/CSS/4.json
  library/tutorials/CSS/5.json
  library/tutorials/CSS/6.json
Labels: bug

#2067 Public Library - Tweaks for Sashimi Dice
  library/games/Sashimi Dice/0.json
  library/games/Sashimi Dice/assets/-1137383578_180294
  library/games/Sashimi Dice/assets/-1703909484_2946
  library/games/Sashimi Dice/assets/-1767470630_81900
  library/games/Sashimi Dice/assets/-222934316_2947
  library/games/Sashimi Dice/assets/1004473835_2846
  library/games/Sashimi Dice/assets/1139003759_2969
  library/games/Sashimi Dice/assets/834358786_25582
Labels: enhancement, library

#2069 fixed crash with dice
  client/js/widgets/dice.js
Labels: bug, widget properties

#2127 Add hex game pieces and auto hex grid calculation
  assets/game-pieces/2D/Hex-Flat.svg
  assets/game-pieces/2D/Hex-Point.svg
  client/js/editmode.js
  client/js/jsonedit.js
Labels: enhancement, widget properties

#2149 Public Library - Add Avocado Auction
  library/games/Avocado Auction/0.json
  library/games/Avocado Auction/assets/-896811449_6551
  library/games/Avocado Auction/assets/1421287058_6465
  library/games/Avocado Auction/assets/623154753_148698
Labels: library

#2152 PL Cirque de la Cascade: Correct mistyped property on alternative board
  library/games/Cirque de la Cascade/0.json
Labels: bug, library

#2153 PL Rockets and Robots: Add missing rule to ruleText
  library/games/Rockets and Robots/0.json
Labels: library

#2154 Reimplement skipTurn after it was removed mistakenly in #2080
  client/js/widgets/widget.js
  library/games/Egyptian Epochs/0.json
  library/games/Egyptian Epochs/1.json
Labels: bug, routine operations

#2142 Add a SWAPHANDS function to simplify scripting in drafting games
  client/js/jsonedit.js
  client/js/widgets/widget.js
  library/games/Tutti Frutti/0.json
  library/games/Tutti Frutti/assets/-100774649_17014
  library/games/Tutti Frutti/assets/-1120578921_37056
  library/games/Tutti Frutti/assets/-123557131_25238
  library/games/Tutti Frutti/assets/-1442338337_70349
  library/games/Tutti Frutti/assets/-148902661_85111
  library/games/Tutti Frutti/assets/-1633835765_22608
  library/games/Tutti Frutti/assets/-173158039_25830
  library/games/Tutti Frutti/assets/-2042684194_108095
  library/games/Tutti Frutti/assets/-494902569_78005
  library/games/Tutti Frutti/assets/-707366676_15472
  library/games/Tutti Frutti/assets/-965858001_88500
  library/games/Tutti Frutti/assets/1001175111_383303
  library/games/Tutti Frutti/assets/1324386334_21786
  library/games/Tutti Frutti/assets/1585430471_67921
  library/games/Tutti Frutti/assets/17791380_422381
  library/games/Tutti Frutti/assets/2061699405_70495
  library/games/Tutti Frutti/assets/238430050_57180
  library/games/Tutti Frutti/assets/904760967_19990
  library/tutorials/Functions - SWAPHANDS/0.json
  library/tutorials/Functions - SWAPHANDS/assets/-1954667977_27832
Labels: enhancement, routine operations

#2100 Public Library - Update Card Games
  library/games/Card Games/0.json
  library/games/Card Games/assets/-383913395_370438
  library/games/Card Games/assets/457733056_725539
  library/games/Card Games/assets/626131721_35568
  library/games/Card Games/assets/632722828_978266
  library/games/Card Games/assets/812414662_906539
Labels: library

#2157 Public Library - Update Great Greece Map
  library/games/Great Greece/0.json
Labels: library

#2160 PL Egyptian Epochs: Fix bug with skipTurn introduction
  library/games/Egyptian Epochs/0.json
  library/games/Egyptian Epochs/1.json
Labels: bug, library
