Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2024-02, with the labels that each got.

#2039 World Whirl: fixed correct rotation detection
  library/games/Word Whirl/0.json
Labels: bug, library

#2035 fixed asset compression when encountering sound files
  client/js/editor/sidebar/assets.js
Labels: bug, editor

#2036 removed broken language from game link
  client/room.html
Labels: bug, user interface

#2037 fixed Unlink button in game menu
  client/js/overlays/states.js
Labels: bug, user interface

#2038 allow any number in generic editor inputs
  client/js/editor/sidebar/properties.js
Labels: bug, editor

#2040 Steam Power: board cleared before start
  library/games/Steam Power/0.json
Labels: enhancement, library

#2009 limit card activeFace to highest valid face
  client/js/widgets/card.js
Labels: bug, widget properties

#1966 added a button that converts an in-progress game into a normal game
  client/js/overlays/states.js
  client/room.html
Labels: enhancement, user interface

#1971 fixed client crash when `CLONE` fails
  client/js/serverstate.js
  client/js/widgets/widget.js
Labels: bug, routine operations

#2043 fixed image flicker in game shelf
  client/js/overlays/states.js
Labels: bug, user interface

#2042 removed type when adding basic widget
  client/js/jsonedit.js
Labels: editor

#2049 Add Wildscapes to Public Library
  library/games/Wildscapes/0.json
  library/games/Wildscapes/assets/-107605146_33250
  library/games/Wildscapes/assets/-1256644367_34558
  library/games/Wildscapes/assets/-1360661620_22904
  library/games/Wildscapes/assets/-1372554968_23131
  library/games/Wildscapes/assets/-160052790_35412
  library/games/Wildscapes/assets/-1770929883_26820
  library/games/Wildscapes/assets/-1780472910_21066
  library/games/Wildscapes/assets/-1916005357_3000
  library/games/Wildscapes/assets/-650024430_5360
  library/games/Wildscapes/assets/-660565368_3656
  library/games/Wildscapes/assets/-850834450_4372
  library/games/Wildscapes/assets/-865177906_29606
  library/games/Wildscapes/assets/1002522787_3636
  library/games/Wildscapes/assets/1073893257_31068
  library/games/Wildscapes/assets/1199843103_3990
  library/games/Wildscapes/assets/1227168721_15496
  library/games/Wildscapes/assets/1280254170_12896
  library/games/Wildscapes/assets/1377629696_31734
  library/games/Wildscapes/assets/1465348716_29196
  library/games/Wildscapes/assets/1603449069_30046
  library/games/Wildscapes/assets/1672555818_163716
  library/games/Wildscapes/assets/1799564095_26776
  library/games/Wildscapes/assets/1808951091_27774
  library/games/Wildscapes/assets/1901394317_3048
  library/games/Wildscapes/assets/200404449_25056
  library/games/Wildscapes/assets/2028960468_23634
  library/games/Wildscapes/assets/267174820_320378
  library/games/Wildscapes/assets/334712318_97304
  library/games/Wildscapes/assets/701974715_20032
  library/games/Wildscapes/assets/856309567_31190
Labels: enhancement, library
