Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2024-12, with the labels that each got.

#2382 fixed crash when renaming
  client/js/overlays/players.js
Labels: bug

#2374 updated dependencies
  package-lock.json
  package.json
Labels: npm dependencies

#2385 fixed crash when receiving a delta while having invalid JSON
  client/js/jsonedit.js
Labels: bug, editor, reported client crash

#2388 fixed crash in deck generator
  client/js/editor/sidebar/properties.js
Labels: bug, editor, reported client crash

#2389 fixed crash when adding a new cardType
  client/js/jsonedit.js
Labels: bug, editor, reported client crash

#2363 fixed crash and missing cards when one client deletes a pile while another adds a card
  client/css/layout.css
  client/js/serverstate.js
  client/js/widgets/widget.js
  config.template.json
  server/player.mjs
Labels: bug, reported client crash

#2392 added official Docker image
  .dockerignore
  .github/workflows/docker-publish.yml
  Dockerfile
  README-DOCKER.md
  README.md
  server/config.mjs
  server/minify.mjs
Labels: maintenance

#2398 Public Library - Uncheckered - Fix Summary Table
  library/games/Uncheckered/0.json
  library/games/Uncheckered/assets/-1515443855_65874
  library/games/Uncheckered/assets/10683758_65345
Labels: library

#2403 fixed transitions
  client/js/widgets/widget.js
Labels: bug

#2408 Public Library - Add Arlo and Isla
  library/games/Arlo and Isla/0.json
  library/games/Arlo and Isla/1.json
  library/games/Arlo and Isla/2.json
  library/games/Arlo and Isla/assets/-1232227984_8972
  library/games/Arlo and Isla/assets/-1845514469_376549
Labels: library

#2407 Public Library - Add Flipz
  library/games/Flipz/0.json
  library/games/Flipz/assets/-1120578921_37056
  library/games/Flipz/assets/-52589506_548214
  library/games/Flipz/assets/596157591_209642
Labels: library

#2416 Fix pile overlay color in darkmode
  client/css/layout.css
Labels: bug, editor

#2414 Show anonymous widget details in the tree view
  client/css/jsonedit.css
  client/js/jsonedit.js
Labels: bug, enhancement, editor

#2411 Add prompt before overwriting widgets with same id from buffer
  client/js/editor/sidebar/toolbox.js
Labels: enhancement, editor

#2415 Give focus to first JSON command option
  client/js/jsonedit.js
Labels: enhancement, editor

#2424 Fix deck generator dark mode color problem
  client/js/editor/sidebar/properties.js
Labels: bug, user interface

#2419 Public Library - Add 4-Letter Words
  library/games/4-Letter Words/0.json
  library/games/4-Letter Words/assets/-52589506_548214
  library/games/4-Letter Words/assets/211220729_183548
Labels: library

#2421 Public Library - Add CONTEST
  library/games/CONTEST/0.json
  library/games/CONTEST/assets/-1336405461_70212
Labels: library
