Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2024-08, with the labels that each got.

#2184 Public Library - Add Golderymander
  library/games/Golderymander/0.json
  library/games/Golderymander/assets/-1470803990_2881
  library/games/Golderymander/assets/-421596876_2881
  library/games/Golderymander/assets/1055522883_8832
  library/games/Golderymander/assets/2076806280_2881
  library/games/Golderymander/assets/508555326_2881
  library/games/Golderymander/assets/893530710_2881
Labels: library

#2156 updated dependencies
  package-lock.json
  package.json
Labels: npm dependencies

#2195 Public Library - Add Property Poobah
  library/games/Property Poobah/0.json
  library/games/Property Poobah/assets/-322339246_50232
  library/games/Property Poobah/assets/2084218649_43390
Labels: library

#2201 Public Library - Wildscapes mode
  library/games/Wildscapes/0.json
Labels: library

#2206 removed name overlay from several library games
  library/games/A Simple Life/0.json
  library/games/A Simple Life/1.json
  library/games/Bhukhar/0.json
  library/games/Cards Against Humanity/0.json
  library/games/Duel 52/0.json
  library/games/Durak/0.json
  library/games/Godaigo/0.json
  library/games/Hangman/0.json
  library/games/Hangman/1.json
  library/games/No Cheese No Coin/0.json
  library/games/QQ Step/0.json
  library/games/Scrappet Kaiser Princess/0.json
  library/games/Stardust Butterfly/0.json
  library/games/Tarocchi Siciliani/0.json
  library/games/Tarocchi Siciliani/1.json
  library/games/Tarocchi Siciliani/2.json
  library/games/Tarocchi Siciliani/3.json
  library/games/Tarocchi Siciliani/4.json
  library/games/WORD STAX/0.json
Labels: enhancement, library

#2211 improved performance when selecting multiple widgets
  client/js/editor/sidebar/json.js
  client/js/jsonedit.js
Labels: bug, editor

#2209 added missing assets to public library games
  library/assets/Decks/assets/393647028_14279
  library/games/Scrappet Kaiser Princess/assets/-1179000204_770072
  library/games/Stardust Butterfly/assets/1621426706_261001
Labels: bug, library

#2210 fixed invisible text in game search after editing
  client/css/editor/layout.css
  client/css/editor/sidebar.css
  client/css/layout.css
Labels: bug, user interface

#2212 fixed crash while CLONEing when the given id already exists
  client/js/widgets/widget.js
Labels: bug, routine operations

#2214 fixed crash with PROPERTY x OF array
  client/js/widgets/widget.js
Labels: bug, routine operations

#2219 fixed dimming of editor toolbar buttons based on selection
  client/js/editor/toolbarButton.js
Labels: bug, editor

#2221 removed duplicate function `shuffleArray`
  client/js/editor/sidebar/properties.js
  client/js/main.js
Labels: maintenance

#2220 fixed that the editor fullscreen button would sometimes show the wrong state
  client/js/editor/toolbar/fullscreen.js
Labels: bug, editor

#2215 added option `visibleChildWidgets` to `INPUT.choose`
  client/css/layout.css
  client/js/domhelpers.js
  client/js/jsonedit.js
  client/js/widgets/widget.js
Labels: bug, routine operations

#2216 fixed crash after renaming a widget
  client/js/editor/sidebar/json.js
  client/js/jsonedit.js
  tests/testcafe/functions.js
Labels: bug, editor

#2223 added Android server instructions to the readme
  README.md
Labels: documentation, enhancement

#2225 fixed disabled game shelf
  client/js/editor/toolbarButton.js
Labels: bug, user interface

#2227 Public Library - Add Runway Roll
  library/games/Runway Roll/0.json
Labels: enhancement, library

#2229 fixed selection behavior for multi-select and changing id or type
  client/js/editor/sidebar/json.js
  client/js/jsonedit.js
Labels: bug, editor

#2224 disable F-key editor buttons on mobile
  client/css/jsonedit.css
  client/js/main.js
  client/js/mousehandling.js
Labels: bug, editor

#2230 added line numbers to JSON editor
  client/css/jsonedit.css
  client/js/jsonedit.js
Labels: enhancement, editor

#2228 added property `hotkey`
  client/js/mousehandling.js
  client/js/widgets/widget.js
Labels: enhancement, widget properties

#2231 PL Egyptian Epochs: Usability Improvements
  library/games/Egyptian Epochs/0.json
  library/games/Egyptian Epochs/1.json
  library/games/Egyptian Epochs/2.json
Labels: enhancement, library

#2239 fixed spacing tool behavior for vertically aligned widgets
  client/js/editor/dragbuttons/spacing.js
Labels: bug, editor

#2237 fixed that newly added widgets would not be displayed in JSON editor
  client/js/jsonedit.js
Labels: bug, editor

#2232 added property search to multi-select and tree filter
  client/js/jsonedit.js
Labels: enhancement, editor

#2233 multi-selection mode can now be used to set objects to properties
  client/js/jsonedit.js
Labels: bug, editor

#2236 fixed that dice would not update when its `svgReplaces` would require it
  client/js/widgets/dice.js
Labels: bug, widget properties

#2243 fixed open parent, open deck and open widget by id
  client/js/jsonedit.js
Labels: bug, editor

#2244 fixed that PCIO importer would not use filename as name
  server/room.mjs
Labels: bug

#2245 PCIO importer improvements
  server/pcioimport.mjs
Labels: enhancement, PCIO compatibility

#2242 Public Library - Runway Roll tweaks
  library/games/Runway Roll/0.json
Labels: enhancement, library

#2252 Public Library - Update Property Tycoon
  library/games/Property Tycoon/0.json
Labels: bug, library

#2254 SHIFT+F<X> now deselects the widget if it was already selected
  client/js/jsonedit.js
Labels: bug, editor

#2255 ensure that the drag toolbar cannot be dragged off screen
  client/js/editor/dragButton.js
Labels: bug, editor
