Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2024-05, with the labels that each got.

#2108 Public Library - Update Konigrufen seat and scoring
  library/games/Konigrufen/0.json
  library/games/Konigrufen/assets/-1954675325_70378
  library/games/Konigrufen/assets/-2053055231_63210
  library/games/Konigrufen/assets/1683833008_32906
Labels: library

#2109 Public Library - Update Godaigo cards
  library/games/Godaigo/0.json
  library/games/Godaigo/assets/-1000130306_215917
  library/games/Godaigo/assets/-1022578070_222301
  library/games/Godaigo/assets/-1577215135_214056
  library/games/Godaigo/assets/-268230762_260695
  library/games/Godaigo/assets/-499140795_226010
  library/games/Godaigo/assets/-655726545_225770
  library/games/Godaigo/assets/1260174681_215074
  library/games/Godaigo/assets/1870358956_230962
  library/games/Godaigo/assets/1882244785_257226
  library/games/Godaigo/assets/618398956_219405
  library/games/Godaigo/assets/728027120_229804
  library/games/Godaigo/assets/971589350_221304
Labels: library

#2099 Public Library - Update Agra
  library/games/Agra/0.json
Labels: library

#2111 fixed scoreboard totals row position on Safari
  client/css/widgets/scoreboard.css
Labels: bug, widget properties

#2114 fixed typo in PCIO importer
  server/pcioimport.mjs
Labels: bug, PCIO compatibility

#2110 fixed inconsistencies in scoreboard CSS
  client/js/widgets/scoreboard.js
  library/tutorials/Scoreboard/0.json
  library/tutorials/Scoreboard/1.json
  library/tutorials/Scoreboard/2.json
Labels: bug, widget properties

#2112 fixed that basic widgets would lose their children when editing their `html`
  client/js/widgets/basicwidget.js
Labels: bug, widget properties

#2116 updated dependencies
  package-lock.json
  package.json
Labels: npm dependencies, maintenance

#2119 Public Library - Add Patolli
  library/games/Patolli/0.json
  library/games/Patolli/assets/-1154227493_165650
  library/games/Patolli/assets/-1234812135_327
  library/games/Patolli/assets/-1945347040_489
  library/games/Patolli/assets/-205412757_5762
  library/games/Patolli/assets/1207197689_10678
  library/games/Patolli/assets/1464867227_7087
  library/games/Patolli/assets/1625460113_5142
  library/games/Patolli/assets/2126386929_17592
  library/games/Patolli/assets/359191340_496836
Labels: library

#2120 Public Library - Add Agon
  library/games/Agon/0.json
  library/games/Agon/assets/-2112557019_80975
  library/games/Agon/assets/1000076354_385
Labels: library

#2121 Public Library - Add Hexagonal Checkers
  library/games/Hexagonal Checkers/0.json
  library/games/Hexagonal Checkers/assets/1000076354_385
  library/games/Hexagonal Checkers/assets/2043006020_83666
Labels: library

#2122 Public Library - Add Hex
  library/games/Hex/0.json
  library/games/Hex/assets/-1636166758_47047
  library/games/Hex/assets/1000076354_385
Labels: library

#2125 Public Library - Add Hubris Season
  library/games/Hubris Season/0.json
  library/games/Hubris Season/assets/-1023700099_2064
  library/games/Hubris Season/assets/-1150866544_2421
  library/games/Hubris Season/assets/-153160889_1452
  library/games/Hubris Season/assets/-3290015_1759
  library/games/Hubris Season/assets/-352378963_5436
  library/games/Hubris Season/assets/1046884807_1766
  library/games/Hubris Season/assets/1296776529_1874
  library/games/Hubris Season/assets/1407315967_37985
  library/games/Hubris Season/assets/1502899776_62361
  library/games/Hubris Season/assets/1780506134_2378
  library/games/Hubris Season/assets/262189486_2456
  library/games/Hubris Season/assets/300442299_67924
  library/games/Hubris Season/assets/326443729_1522
  library/games/Hubris Season/assets/366936223_1761
  library/games/Hubris Season/assets/402675433_1961
  library/games/Hubris Season/assets/505817735_1809
  library/games/Hubris Season/assets/516582418_2158
  library/games/Hubris Season/assets/78993194_1917
  library/games/Hubris Season/assets/938264106_1560
  library/games/Hubris Season/assets/949168056_2456
  library/games/Hubris Season/assets/957645700_3217
Labels: library

#2128 Public Library - Update Creation
  library/games/Creation/0.json
Labels: library

#2131 Public Library - Add Surakarta
  library/games/Surakarta/0.json
  library/games/Surakarta/assets/-48526874_5834
  library/games/Surakarta/assets/-52589506_548214
  library/games/Surakarta/assets/182022609_108172
Labels: library

#2132 Public Library - Add Four Field Kono
  library/games/Four Field Kono/0.json
  library/games/Four Field Kono/assets/-1281984631_42906
  library/games/Four Field Kono/assets/-52589506_548214
  library/games/Four Field Kono/assets/1878378275_568
Labels: library

#2129 Public Library - Add TacTix
  library/games/TacTix/0.json
  library/games/TacTix/assets/-939476364_9394
  library/games/TacTix/assets/1000076354_385
  library/games/TacTix/assets/1758756791_381
Labels: library

#2130 Public Library - Add Dice Duel
  library/games/Dice Duel/0.json
  library/games/Dice Duel/assets/-1372554968_23131
  library/games/Dice Duel/assets/-52589506_548214
  library/games/Dice Duel/assets/1878698840_322553
Labels: library

#2133 Public Library - Add French Military Game
  library/games/French Military Game/0.json
  library/games/French Military Game/assets/-1124219128_166846
  library/games/French Military Game/assets/-347036160_721
  library/games/French Military Game/assets/-52589506_548214
Labels: library

#2134 Public Library - Add Lines of Action
  library/games/Lines of Action/0.json
  library/games/Lines of Action/assets/-1337463453_22912
  library/games/Lines of Action/assets/-52589506_548214
Labels: library
