Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2024-07, with the labels that each got.

#2163 fixed client crash in `TURN`
  client/js/widgets/widget.js
Labels: bug, routine operations

#2162 fixed widget buffer with invalid parent
  client/js/editor/sidebar/toolbox.js
Labels: enhancement, editor

#2164 clarify mass asset upload in editor
  client/js/editor/sidebar/assets.js
Labels: enhancement, editor

#2159 simple search and replace in the editor
  client/js/editor/sidebar/toolbox.js
Labels: enhancement, editor

#2169 Public Library - Remove Spring Cleaning
  library/games/Spring Cleaning/0.json
  library/games/Spring Cleaning/assets/-1102663282_9362
  library/games/Spring Cleaning/assets/-1283016571_11990
  library/games/Spring Cleaning/assets/-1576134704_1552
  library/games/Spring Cleaning/assets/-1711539631_10204
  library/games/Spring Cleaning/assets/-2099847120_10526
  library/games/Spring Cleaning/assets/-405535666_1714
  library/games/Spring Cleaning/assets/-591262877_9644
  library/games/Spring Cleaning/assets/-856051398_11696
  library/games/Spring Cleaning/assets/-992759430_10614
  library/games/Spring Cleaning/assets/1227878576_8866
  library/games/Spring Cleaning/assets/1259383691_187927
  library/games/Spring Cleaning/assets/1777628233_1186
  library/games/Spring Cleaning/assets/1804259984_1344
  library/games/Spring Cleaning/assets/1817473309_9366
  library/games/Spring Cleaning/assets/1905965947_1098
  library/games/Spring Cleaning/assets/2027753747_8510
  library/games/Spring Cleaning/assets/372054288_3836
  library/games/Spring Cleaning/assets/61117290_1650183
  library/games/Spring Cleaning/assets/687121058_105325
  library/games/Spring Cleaning/assets/823911279_26306
  library/games/Spring Cleaning/assets/995141016_3278
Labels: library

#2171 added a Collapse button to the editor tree
  client/css/jsonedit.css
  client/js/jsonedit.js
Labels: enhancement, editor

#2173 Fix skipTurn bug when no seats are available to have the turn set
  client/js/widgets/widget.js
Labels: bug, routine operations

#2174 added support for tiled images in deck generator
  client/css/editor/sidebarModules.css
  client/js/editor/sidebar/properties.js
  client/js/main.js
Labels: enhancement, editor

#2176 Public Library - Add Business Guy
  library/games/Business Guy/0.json
  library/games/Business Guy/assets/-528838225_56794
Labels: library

#2179 Public Library - Add QQ Step
  library/games/QQ Step/0.json
  library/games/QQ Step/assets/-1054417815_2362
  library/games/QQ Step/assets/-109183054_64076
  library/games/QQ Step/assets/-1102899496_23074
  library/games/QQ Step/assets/-11069505_1698
  library/games/QQ Step/assets/-1129507460_3104
  library/games/QQ Step/assets/-1147873284_17998
  library/games/QQ Step/assets/-1189163684_23940
  library/games/QQ Step/assets/-1284258969_2622
  library/games/QQ Step/assets/-1310879097_18960
  library/games/QQ Step/assets/-1338124066_19250
  library/games/QQ Step/assets/-1549519789_3356
  library/games/QQ Step/assets/-1614309073_26120
  library/games/QQ Step/assets/-1662486991_64846
  library/games/QQ Step/assets/-1755859816_1748
  library/games/QQ Step/assets/-1855478931_17892
  library/games/QQ Step/assets/-1915290893_19886
  library/games/QQ Step/assets/-1962240944_20170
  library/games/QQ Step/assets/-1974437938_19846
  library/games/QQ Step/assets/-2083856334_1462
  library/games/QQ Step/assets/-2114834566_21242
  library/games/QQ Step/assets/-221750889_3440
  library/games/QQ Step/assets/-23623910_18340
  library/games/QQ Step/assets/-260989690_18580
  library/games/QQ Step/assets/-283690609_1358
  library/games/QQ Step/assets/-32295749_18710
  library/games/QQ Step/assets/-33648209_17980
  library/games/QQ Step/assets/-393098881_16844
  library/games/QQ Step/assets/-745090568_17912
  library/games/QQ Step/assets/-776511525_22560
  library/games/QQ Step/assets/-845078385_18086
  library/games/QQ Step/assets/-851439587_21704
  library/games/QQ Step/assets/-972047508_283757
  library/games/QQ Step/assets/1046513835_2518
  library/games/QQ Step/assets/114166243_3256
  library/games/QQ Step/assets/1166643162_2824
  library/games/QQ Step/assets/1228651472_2750
  library/games/QQ Step/assets/1263174536_25608
  library/games/QQ Step/assets/1334289991_2736
  library/games/QQ Step/assets/1526157632_3156
  library/games/QQ Step/assets/1536849980_13986
  library/games/QQ Step/assets/1552080610_2894
  library/games/QQ Step/assets/1627114982_21458
  library/games/QQ Step/assets/1644286651_3092
  library/games/QQ Step/assets/1667840676_20454
  library/games/QQ Step/assets/1689488781_19262
  library/games/QQ Step/assets/169033970_2920
  library/games/QQ Step/assets/1738120874_16350
  library/games/QQ Step/assets/1743320171_3472
  library/games/QQ Step/assets/1777062531_19666
  library/games/QQ Step/assets/1919005443_2984
  library/games/QQ Step/assets/1932550253_1692
  library/games/QQ Step/assets/46877748_1970
  library/games/QQ Step/assets/548566877_18390
  library/games/QQ Step/assets/569903061_17704
  library/games/QQ Step/assets/633372867_64042
  library/games/QQ Step/assets/666902307_61734
  library/games/QQ Step/assets/791630903_18246
  library/games/QQ Step/assets/824838715_23802
Labels: library

#2180 added the current delta to the debug output of each operation
  client/js/jsonedit.js
  client/js/main.js
  client/js/serverstate.js
Labels: enhancement, editor

#2068 fixed that saving from the editor does not update lastUpdate
  server/room.mjs
Labels: bug, editor

#2182 fixed missing awaits in canvas
  client/js/widgets/canvas.js
Labels: bug, widget properties

#2029 added resize to the editor dragtoolbar
  client/js/editor/dragbuttons/resize.js
  client/js/editor/layout.js
  server/minify.mjs
Labels: enhancement, editor

#2113 fixed that `hidePlayerCursors` would not apply when dragging another widget
  client/js/mousehandling.js
  client/js/widgets/widget.js
Labels: bug, widget properties
