Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2024-10, with the labels that each got.

#2326 Public Library - Add Guan Dan
  library/games/Guan Dan/0.json
  library/games/Guan Dan/assets/-1071381582_686
  library/games/Guan Dan/assets/-1661358580_122484
  library/games/Guan Dan/assets/-1779136080_1798
  library/games/Guan Dan/assets/-1946727849_23273
  library/games/Guan Dan/assets/-202361841_35390
Labels: enhancement, library

#2329 notify users about client crashes and collect information
  client/js/tracing.js
  client/room.html
  server.mjs
Labels: enhancement, maintenance

#2330 Public Library - Add Celtic Knots
  library/games/Carnac Stones/0.json
  library/games/Carnac Stones/assets/-2038187094_806879
  library/games/Carnac Stones/assets/-914371772_133916
  library/games/Carnac Stones/assets/364247184_26850
Labels: enhancement, library

#2337 fixed cursor check client crash on touch devices
  client/js/mousehandling.js
Labels: bug

#2336 improved client error behavior
  client/js/jsonedit.js
  client/js/tracing.js
  client/js/widgets/widget.js
Labels: bug, maintenance

#2340 fixed crash when dragging widget off screen
  client/js/editor/selection.js
Labels: bug, editor

#2335 PL-Update-GuanDan
  library/games/Guan Dan/0.json
Labels: bug, library

#2342 PL A Night on' Town: Adjust layout for better playability
  library/games/A Night on_ Town/0.json
Labels: enhancement, library

#2343 PL 8 ballin': Add hand counters
  library/games/8 ballin_/0.json
Labels: enhancement, library
