Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2024-01, with the labels that each got.

#2005 fixed several issues with INPUT and ESC
  client/js/main.js
  client/js/serverstate.js
  client/js/widgets/widget.js
Labels: bug, user interface, routine operations

#2015 Add "turn and deal" variant to seats and turn tutorial
  library/tutorials/Seats/0.json
  library/tutorials/Seats/1.json
  library/tutorials/Seats/2.json
  library/tutorials/Seats/3.json
  library/tutorials/Seats/4.json
  library/tutorials/Seats/5.json
Labels: enhancement, library

#2011 PL: Add TriTacTix
  library/games/TriTacTix/0.json
  library/games/TriTacTix/assets/1882491168_194482
  library/games/TriTacTix/assets/2020343383_53000
  library/games/TriTacTix/assets/2034150909_233
Labels: library

#2020 fixed error when importing TTS bag
  server/ttsimport.mjs
Labels: bug

#1955 Fix that skipSeat does not work if changed while turn is true
  client/js/widgets/widget.js
  library/tutorials/Seats/2.json
Labels: bug, routine operations, widget properties, Ready for review

#2026 Remove changeRoutine tutorial
  library/tutorials/changeRoutine/0.json
  library/tutorials/changeRoutine/1.json
  library/tutorials/changeRoutine/assets/-73877428_5707
  library/tutorials/changeRoutine/assets/1502865726_277
Labels: maintenance, library

#1993 Put focus on INPUT string field
  client/js/widgets/widget.js
  tests/testcafe/editor.js
Labels: enhancement, routine operations

#2023 updated dependencies
  package-lock.json
  package.json
Labels: npm dependencies
