Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2025-05, with the labels that each got.

#2554 Public Library - Update Snail trafficking
  library/games/Snail trafficking/0.json
  library/games/Snail trafficking/assets/-1505180057_61816
  library/games/Snail trafficking/assets/-1514175156_28496
  library/games/Snail trafficking/assets/-2402977_106716
  library/games/Snail trafficking/assets/-283675011_95702
  library/games/Snail trafficking/assets/-332590895_38482
  library/games/Snail trafficking/assets/-405822299_7908
  library/games/Snail trafficking/assets/-485602420_2369
  library/games/Snail trafficking/assets/1041267930_36764
  library/games/Snail trafficking/assets/410050503_30850
  library/games/Snail trafficking/assets/751415772_69472
Labels: library

#2555 Public Library - Update From now we float
  library/games/From now we float/0.json
  library/games/From now we float/assets/-1231988663_15146
  library/games/From now we float/assets/-1266415518_20488
  library/games/From now we float/assets/-1835942971_119692
  library/games/From now we float/assets/-232849638_26704
  library/games/From now we float/assets/-483587050_226391
  library/games/From now we float/assets/-740190026_45260
  library/games/From now we float/assets/-936638213_35678
  library/games/From now we float/assets/-980647858_117104
  library/games/From now we float/assets/1010565314_17954
  library/games/From now we float/assets/102636374_36526
  library/games/From now we float/assets/106478330_14096
  library/games/From now we float/assets/1144778945_24078
  library/games/From now we float/assets/1200285414_34746
  library/games/From now we float/assets/1266763242_24196
  library/games/From now we float/assets/1283239763_41842
  library/games/From now we float/assets/1457690150_15036
  library/games/From now we float/assets/1864469736_24098
  library/games/From now we float/assets/2029626458_22670
  library/games/From now we float/assets/597519167_36614
  library/games/From now we float/assets/673326377_39344
  library/games/From now we float/assets/729832148_15200
  library/games/From now we float/assets/774453640_29826
Labels: library

#2560 Public Library - Add Moroccan Moolah
  library/games/Moroccan Moolah/0.json
  library/games/Moroccan Moolah/assets/-1102751205_4170
  library/games/Moroccan Moolah/assets/-1836193192_718
  library/games/Moroccan Moolah/assets/193152282_3132996
  library/games/Moroccan Moolah/assets/26456281_498
  library/games/Moroccan Moolah/assets/621599880_4908
  library/games/Moroccan Moolah/assets/888243273_4792
  library/games/Moroccan Moolah/assets/890872167_7266
  library/games/Moroccan Moolah/assets/948963654_194732
Labels: library

#2562 fixed that `RESET` could set an invalid `parent`
  client/js/widgets/widget.js
Labels: bug, routine operations, reported client crash

#2570 Public Library - Add Score Keeper
  library/games/Score Keeper/0.json
  library/games/Score Keeper/1.json
  library/games/Score Keeper/assets/1097877566_21066
Labels: library

#2572 Public Library - Update Score Keeper
  library/games/Score Keeper/0.json
  library/games/Score Keeper/1.json
Labels: library

#2565 added library asset names check
  .github/workflows/check-library.yml
Labels: maintenance

#2558 Public Library - Add Bao Huang
  .github/workflows/check-library.yml
  library/games/Bao Huang/0.json
  library/games/Bao Huang/1.json
  library/games/Bao Huang/assets/-1740511263_878
  library/games/Bao Huang/assets/-1779136080_1798
  library/games/Bao Huang/assets/-1946727849_23273
  library/games/Bao Huang/assets/-1966441294_39389
  library/games/Bao Huang/assets/-1974790485_3240
  library/games/Bao Huang/assets/-2136499342_2092
  library/games/Bao Huang/assets/-581358193_203833
  library/games/Bao Huang/assets/-615643437_2092
  library/games/Bao Huang/assets/-666843788_199269
  library/games/Bao Huang/assets/2084110158_2491
  library/games/Bao Huang/assets/92503682_1031
Labels: library

#2574 fixed existing assets with wrong line endings
  library/games/Avocado Auction/assets/-896811449_6551
  library/games/Card Games/assets/-374765193_624
  library/games/Card Games/assets/948048380_204657
  library/games/Financial Bingo/assets/807309411_1777
  library/games/Flight/assets/-1897421947_2261
  library/games/Flight/assets/-1927750112_4192
  library/games/Flight/assets/-2039093533_1156
  library/games/Flight/assets/1428699476_1772
  library/games/Flight/assets/72771024_2221
  library/games/Maki Roll/assets/-71144726_1885
  library/games/TriTacTix/assets/2034150909_233
  library/games/Uncheckered/assets/-2061270606_265
  library/games/Word Heist/assets/-1978110636_718
  library/tutorials/Decks/assets/-1069094621_382
  library/tutorials/Decks/assets/-1392412935_306
  library/tutorials/Decks/assets/-1433603109_304
  library/tutorials/Decks/assets/-1443227368_341
  library/tutorials/Decks/assets/-1464275780_382
  library/tutorials/Decks/assets/-1657637438_306
  library/tutorials/Decks/assets/-174008565_306
  library/tutorials/Decks/assets/-1947469753_382
  library/tutorials/Decks/assets/-322863175_17578
  library/tutorials/Decks/assets/-32936487_30820
  library/tutorials/Decks/assets/-383195435_304
  library/tutorials/Decks/assets/-937265557_8220
  library/tutorials/Decks/assets/-970400507_304
  library/tutorials/Decks/assets/1111548579_341
  library/tutorials/Decks/assets/149642662_304
  library/tutorials/Decks/assets/1583348792_306
  library/tutorials/Decks/assets/1616717187_4996
  library/tutorials/Decks/assets/1938702977_341
  library/tutorials/Decks/assets/2017378147_382
  library/tutorials/Decks/assets/636175176_341
  library/tutorials/Timer/assets/-156648361_3689
  library/tutorials/Timer/assets/-1693112878_18705
  library/tutorials/Timer/assets/360970017_21888
  library/tutorials/Timer/assets/509206781_3477
Labels: bug, library

#2577 Public Library - Add Secret Street
  library/games/Secret Street/0.json
  library/games/Secret Street/assets/-234987101_6772
Labels: library

#2557 Public Library - Add Wild Escape
  library/games/Wild Escape/0.json
  library/games/Wild Escape/assets/-1385755993_173134
  library/games/Wild Escape/assets/-1740511263_878
  library/games/Wild Escape/assets/-1946727849_23273
  library/games/Wild Escape/assets/-970947_63978
  library/games/Wild Escape/assets/1284885356_166610
  library/games/Wild Escape/assets/2084110158_2491
  library/games/Wild Escape/assets/847699789_1861
Labels: library

#2582 Public Library - Add Righto
  library/games/righto/0.json
  library/games/righto/assets/2106222269_65368
Labels: library

#2583 PL Delicious Deliveries: Small bug fixes
  library/games/Delicious Deliveries/0.json
Labels: bug, library

#2496 fixed crash when collection to `MOVE` contains the target
  client/js/widgets/widget.js
Labels: bug, routine operations, reported client crash

#2584 Public Library - Add Herd Hero
  library/games/Herd Hero/0.json
  library/games/Herd Hero/assets/1965005044_27092
Labels: library
