Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2025-03, with the labels that each got.

#2482 Public Library - Update Going Nuts
  library/games/Going Nuts/0.json
Labels: bug, library

#2484 Public Library - Add Hoard the Most Fish!
  library/games/Hoard The Most Fish_/0.json
  library/games/Hoard The Most Fish_/assets/-1572117211_11680
  library/games/Hoard The Most Fish_/assets/-215425192_12726
  library/games/Hoard The Most Fish_/assets/118759891_5582
  library/games/Hoard The Most Fish_/assets/1357384415_98162
Labels: library

#2486 Public Library - Update Egyptian Epochs
  library/games/Egyptian Epochs/0.json
  library/games/Egyptian Epochs/1.json
  library/games/Egyptian Epochs/2.json
Labels: enhancement, library

#2487 Public Library - Add Antagony
  library/games/Antagony/0.json
  library/games/Antagony/assets/1490649863_494
Labels: library

#2488 Public Library - Add Raging Bulls
  library/games/Raging Bulls/0.json
  library/games/Raging Bulls/assets/-14827722_50422
  library/games/Raging Bulls/assets/-194985508_1654
  library/games/Raging Bulls/assets/2034434115_77535
Labels: library

#2489 Public Library - Update The Longest Run
  library/games/The Longest Run/0.json
  library/games/The Longest Run/assets/0_0
Labels: enhancement, library

#2485 PL - Update Henny's Star Buffet
  library/games/Henny_s Star Buffet/0.json
Labels: bug, enhancement, library

#2490 Public Library - Update Flipz
  library/games/Flipz/0.json
Labels: bug, library

#2491 Public Library - Update Mauer
  library/games/Mauer/0.json
Labels: bug, library

#2459 Editor Displays SVG Colors
  client/js/jsonedit.js
  library/tutorials/Icons_ Symbols_ and Emojis/0.json
  library/tutorials/Icons_ Symbols_ and Emojis/1.json
  library/tutorials/Icons_ Symbols_ and Emojis/2.json
Labels: enhancement, editor

#2462 Add random parameter to `SELECT`
  client/js/jsonedit.js
  client/js/widgets/widget.js
  library/tutorials/Functions - SELECT/0.json
  library/tutorials/Functions - SELECT/1.json
  library/tutorials/Functions - SELECT/2.json
Labels: documentation, enhancement, routine operations

#2468 Remove unneeded suit information in custom card decks
  client/js/editor/sidebar/properties.js
Labels: enhancement, editor

#2493 fixed crash for card face without objects
  client/js/editor/sidebar/assets.js
  client/js/jsonedit.js
  client/js/widgets/card.js
Labels: bug, widget properties, reported client crash

#2495 Public Library - Improve Crossed dice visibility
  library/games/Crossed/0.json
Labels: enhancement, library

#2494 updated dependencies
  package-lock.json
  package.json
Labels: npm dependencies

#2499 Public Library - More scenarios for Runway Roll
  library/games/Runway Roll/0.json
Labels: enhancement, library

#2501 Public Library - Update Financial Bingo
  library/games/Financial Bingo/0.json
  library/games/Financial Bingo/assets/-1347139863_449623
  library/games/Financial Bingo/assets/1232935943_88746
Labels: bug, library

#2503 save cursor position in editor per widget
  client/js/jsonedit.js
Labels: enhancement, editor

#2504 Public Library - Line Fight
  library/games/Line Fight/0.json
  library/games/Line Fight/assets/-31338734_53201
  library/games/Line Fight/assets/687121058_105325
Labels: library

#2502 Fix svg color picker in editor
  client/js/jsonedit.js
Labels: bug, editor

#2508 PL-Update From now we float
  library/games/From now we float/0.json
Labels: enhancement, library

#2507 Public Library - Add 100 and 130 Foundations Tutorials
  library/tutorials/100 Tutorials Overview/0.json
  library/tutorials/100 Tutorials Overview/assets/516297853_4851
  library/tutorials/130 Variables and Collections/0.json
  library/tutorials/130 Variables and Collections/1.json
  library/tutorials/130 Variables and Collections/2.json
  library/tutorials/130 Variables and Collections/assets/975182181_6987
Labels: library

#2515 added Docker image without library
  .github/workflows/docker-publish.yml
  README-DOCKER.md
Labels: maintenance

#2517 added Docker image without library - try 2
  .github/workflows/docker-publish.yml
Labels: maintenance

#2509 Public Library - Add Gingham
  library/games/Gingham/0.json
  library/games/Gingham/assets/-1048729249_4742
  library/games/Gingham/assets/-1074017437_8290
  library/games/Gingham/assets/-1131179813_4118
  library/games/Gingham/assets/-1244615350_4964
  library/games/Gingham/assets/-1482033033_5282
  library/games/Gingham/assets/-1576802884_7633
  library/games/Gingham/assets/-1615392981_4998
  library/games/Gingham/assets/-1743381266_6980
  library/games/Gingham/assets/-1826333385_3870
  library/games/Gingham/assets/-1961981366_5540
  library/games/Gingham/assets/-2082168091_7733
  library/games/Gingham/assets/-241654473_4106
  library/games/Gingham/assets/-318915116_3504
  library/games/Gingham/assets/-32837445_4118
  library/games/Gingham/assets/-382962637_4874
  library/games/Gingham/assets/-409992972_3700
  library/games/Gingham/assets/-48369940_3494
  library/games/Gingham/assets/-488007163_11334
  library/games/Gingham/assets/-669566739_9954
  library/games/Gingham/assets/-839964807_6386
  library/games/Gingham/assets/-894008250_816700
  library/games/Gingham/assets/-899959922_4512
  library/games/Gingham/assets/1282268031_5358
  library/games/Gingham/assets/1306309845_5166
  library/games/Gingham/assets/1402152229_4934
  library/games/Gingham/assets/149655361_20606
  library/games/Gingham/assets/1566146814_6849
  library/games/Gingham/assets/1752446587_4112
  library/games/Gingham/assets/1863340393_6008
  library/games/Gingham/assets/1880921828_4082
  library/games/Gingham/assets/1887860579_6937
  library/games/Gingham/assets/1987692329_5388
  library/games/Gingham/assets/2025619105_3648
  library/games/Gingham/assets/2055770264_7108
  library/games/Gingham/assets/337064388_7678
  library/games/Gingham/assets/400300290_4908
  library/games/Gingham/assets/495829081_10854
  library/games/Gingham/assets/625123018_3514
  library/games/Gingham/assets/687561008_4334
  library/games/Gingham/assets/689221283_7547
  library/games/Gingham/assets/697214175_9618
  library/games/Gingham/assets/919667007_627372
  library/games/Gingham/assets/997861968_28140
Labels: library

#2511 Public Library - Add Symphony
  library/games/Symphony/0.json
  library/games/Symphony/assets/-1623795324_13872
  library/games/Symphony/assets/2125891281_45450
Labels: library

#2512 Public Library - Add Summit
  library/games/Summit/0.json
  library/games/Summit/assets/1029691001_31162
  library/games/Summit/assets/1590205977_17599
Labels: library

#2519 Public Library - Add Tutorial 110 Widget Types
  library/tutorials/110 Widget Types/0.json
  library/tutorials/110 Widget Types/1.json
  library/tutorials/110 Widget Types/2.json
  library/tutorials/110 Widget Types/assets/415539053_3992
Labels: library

#2520 Public Library - Add Tutorial 120 Widget Properties
  library/tutorials/100 Tutorials Overview/0.json
  library/tutorials/120 Widget Properties/0.json
  library/tutorials/120 Widget Properties/assets/1829322726_5244
  library/tutorials/140 Functions Overview/0.json
  library/tutorials/140 Functions Overview/assets/130052497_4746
Labels: library

#2523 fixed empty `display` for seats
  client/js/widgets/widget.js
Labels: bug, widget properties

#2521 Public Library - Add Merchant Ships
  library/games/Merchant Ships/0.json
  library/games/Merchant Ships/assets/1505122528_184738
  library/games/Merchant Ships/assets/929442417_5904
Labels: library

#2522 Public Library - Add Castellers
  library/games/Castellers/0.json
  library/games/Castellers/assets/302583376_225675
Labels: library

#2500 `RECALL` and `SHUFFLE` new parameters
  client/js/jsonedit.js
  client/js/main.js
  client/js/widgets/widget.js
  library/tutorials/Functions - RECALL and SHUFFLE/0.json
  library/tutorials/Functions - RECALL and SHUFFLE/assets/-741199259_9178
  library/tutorials/Functions - RECALL/0.json
  library/tutorials/Functions - RECALL/assets/-4781058_3904
  library/tutorials/Functions - SHUFFLE/0.json
  library/tutorials/Functions - SHUFFLE/1.json
  library/tutorials/Functions - SHUFFLE/assets/1228679417_4034
Labels: enhancement, routine operations

#2524 Public Library - Add Beffroi
  library/games/Beffroi/0.json
  library/games/Beffroi/assets/1696360131_52791
Labels: library
