Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2025-04, with the labels that each got.

#2529 Public Library - Add Tutorial 150 Working with Variables
  library/tutorials/100 Tutorials Overview/0.json
  library/tutorials/150 Working with Variables/0.json
  library/tutorials/150 Working with Variables/assets/1807710996_5541
Labels: library

#2528 Public Library - Fix Avocado Auction
  library/games/Avocado Auction/0.json
  library/games/Avocado Auction/assets/1421287058_6465
Labels: bug, library

#2533 Public Library - Add Floor of City
  library/games/Floor of City/0.json
  library/games/Floor of City/assets/-1105826828_16848
  library/games/Floor of City/assets/-1143832770_2712
  library/games/Floor of City/assets/-119211830_2538
  library/games/Floor of City/assets/-1272817859_3709
  library/games/Floor of City/assets/-1289448798_29044
  library/games/Floor of City/assets/-1432320025_10651
  library/games/Floor of City/assets/-1728137573_2592
  library/games/Floor of City/assets/-179396665_20305
  library/games/Floor of City/assets/-1834079555_23207
  library/games/Floor of City/assets/-2117528915_16817
  library/games/Floor of City/assets/-367684015_2856
  library/games/Floor of City/assets/-37468564_3847
  library/games/Floor of City/assets/-447236661_24881
  library/games/Floor of City/assets/-545358503_3930
  library/games/Floor of City/assets/-798206155_15513
  library/games/Floor of City/assets/-811967842_3192
  library/games/Floor of City/assets/-881455040_7986
  library/games/Floor of City/assets/1345783842_30825
  library/games/Floor of City/assets/1406831938_7496
  library/games/Floor of City/assets/1478478973_13308
  library/games/Floor of City/assets/1651770250_7972
  library/games/Floor of City/assets/1759788176_6195
  library/games/Floor of City/assets/199467471_2764
  library/games/Floor of City/assets/2060727169_8288
  library/games/Floor of City/assets/2069602182_8052
  library/games/Floor of City/assets/2074476028_11253
  library/games/Floor of City/assets/2129273893_2638
  library/games/Floor of City/assets/571919786_3930
  library/games/Floor of City/assets/623262298_3170
  library/games/Floor of City/assets/635014912_16749
  library/games/Floor of City/assets/742179370_2918
  library/games/Floor of City/assets/81297639_2826
  library/games/Floor of City/assets/921961328_3893
Labels: library

#2530 Public Library - Add 121 Fundamental Widget Properties Tutorial
  library/tutorials/100 Tutorials Overview/0.json
  library/tutorials/120 Widget Properties/0.json
  library/tutorials/120 Widget Properties/assets/-673105727_6630
  library/tutorials/120 Widget Properties/assets/1829322726_5244
  library/tutorials/121 Fundamental Widget Properties/0.json
  library/tutorials/121 Fundamental Widget Properties/1.json
  library/tutorials/121 Fundamental Widget Properties/2.json
  library/tutorials/121 Fundamental Widget Properties/3.json
  library/tutorials/121 Fundamental Widget Properties/assets/-1026984733_7129
Labels: library

#2536 Public Library - Add blob
  library/games/blob/0.json
  library/games/blob/assets/-127203602_20688
  library/games/blob/assets/1297531004_10090
  library/games/blob/assets/297705452_9622
Labels: library

#2543 fixed text highlighting in Chrome
  client/css/jsonedit.css
Labels: bug, editor

#2542 Public Library - Add Hare Trigger
  library/games/Hare Trigger/0.json
  library/games/Hare Trigger/assets/-2137670227_36450
  library/games/Hare Trigger/assets/-52589506_548214
  library/games/Hare Trigger/assets/-566437935_5478
  library/games/Hare Trigger/assets/1525185647_199
Labels: library

#2544 Update Floor of City
  library/games/Floor of City/0.json
  library/games/Floor of City/assets/-1143832770_2712
  library/games/Floor of City/assets/-119211830_2538
  library/games/Floor of City/assets/-1728137573_2592
  library/games/Floor of City/assets/-329907465_8344
  library/games/Floor of City/assets/-363914373_9920
  library/games/Floor of City/assets/-367684015_2856
  library/games/Floor of City/assets/-634127406_12131
  library/games/Floor of City/assets/-702903543_6801
  library/games/Floor of City/assets/-811967842_3192
  library/games/Floor of City/assets/1391089470_21848
  library/games/Floor of City/assets/1627177626_21724
  library/games/Floor of City/assets/1662655593_6796
  library/games/Floor of City/assets/1767161567_6055
  library/games/Floor of City/assets/186495568_10685
  library/games/Floor of City/assets/199467471_2764
  library/games/Floor of City/assets/2129273893_2638
  library/games/Floor of City/assets/623262298_3170
  library/games/Floor of City/assets/742179370_2918
  library/games/Floor of City/assets/81297639_2826
  library/games/Floor of City/assets/989113994_14835
Labels: library

#2545 Public Library - Add Stairs
  library/games/Stairs/0.json
  library/games/Stairs/assets/-52589506_548214
  library/games/Stairs/assets/1997012270_92140
Labels: library

#2546 Public Library - Add Etna
  library/games/Etna/0.json
  library/games/Etna/assets/-1586298253_82417
  library/games/Etna/assets/-52589506_548214
Labels: library

#2547 Public Library - Add Pike Pier
  library/games/Pike Pier/0.json
  library/games/Pike Pier/assets/-1351917003_30192
  library/games/Pike Pier/assets/-1668354013_347
  library/games/Pike Pier/assets/-789257252_2112
  library/games/Pike Pier/assets/109677781_2074
  library/games/Pike Pier/assets/110713550_2030
  library/games/Pike Pier/assets/1318558653_1948
  library/games/Pike Pier/assets/1563410152_36786
  library/games/Pike Pier/assets/677500783_190634
  library/games/Pike Pier/assets/718661570_787
  library/games/Pike Pier/assets/915698051_1358
Labels: library

#2553 Public Library - Add Marble Mania
  library/games/Marble Mania/0.json
  library/games/Marble Mania/assets/-1036896417_10105
  library/games/Marble Mania/assets/-1099814091_9868
  library/games/Marble Mania/assets/-1126166082_9175
  library/games/Marble Mania/assets/-121093710_6822
  library/games/Marble Mania/assets/-12138275_9189
  library/games/Marble Mania/assets/-1361403022_10724
  library/games/Marble Mania/assets/-1496919609_10374
  library/games/Marble Mania/assets/-1518635298_9129
  library/games/Marble Mania/assets/-1579511597_2832
  library/games/Marble Mania/assets/-1589881252_4824
  library/games/Marble Mania/assets/-1686543014_9192
  library/games/Marble Mania/assets/-1711994894_7447
  library/games/Marble Mania/assets/-1897122399_5007
  library/games/Marble Mania/assets/-2000729795_8475
  library/games/Marble Mania/assets/-2013875704_4851
  library/games/Marble Mania/assets/-2017052773_9128
  library/games/Marble Mania/assets/-2055732328_9967
  library/games/Marble Mania/assets/-208432870_8666
  library/games/Marble Mania/assets/-236597732_9154
  library/games/Marble Mania/assets/-262015695_9949
  library/games/Marble Mania/assets/-414492038_58911
  library/games/Marble Mania/assets/-461161985_9023
  library/games/Marble Mania/assets/-470998551_8929
  library/games/Marble Mania/assets/-502540910_5607
  library/games/Marble Mania/assets/-628743814_5470
  library/games/Marble Mania/assets/-674154054_8509
  library/games/Marble Mania/assets/-678432793_10237
  library/games/Marble Mania/assets/-81587092_10605
  library/games/Marble Mania/assets/-933905126_8969
  library/games/Marble Mania/assets/1091596118_9633
  library/games/Marble Mania/assets/1092639548_8941
  library/games/Marble Mania/assets/1118080080_5548
  library/games/Marble Mania/assets/1328525508_16717
  library/games/Marble Mania/assets/1359947856_5277
  library/games/Marble Mania/assets/1400574968_3387
  library/games/Marble Mania/assets/1405096333_8509
  library/games/Marble Mania/assets/165329335_10110
  library/games/Marble Mania/assets/1716264776_9392
  library/games/Marble Mania/assets/1790253815_10105
  library/games/Marble Mania/assets/1838865912_10876
  library/games/Marble Mania/assets/1871101787_10187
  library/games/Marble Mania/assets/1905916336_26053
  library/games/Marble Mania/assets/2060921373_4640
  library/games/Marble Mania/assets/2096330161_16554
  library/games/Marble Mania/assets/2126432449_6967
  library/games/Marble Mania/assets/230224689_7433
  library/games/Marble Mania/assets/289057327_10355
  library/games/Marble Mania/assets/330357173_24172
  library/games/Marble Mania/assets/345808910_5680
  library/games/Marble Mania/assets/410962002_8857
  library/games/Marble Mania/assets/456954150_9092
  library/games/Marble Mania/assets/457144712_10207
  library/games/Marble Mania/assets/473141079_9304
  library/games/Marble Mania/assets/72498881_9374
  library/games/Marble Mania/assets/734533908_9747
  library/games/Marble Mania/assets/753473473_9164
  library/games/Marble Mania/assets/883777715_9159
  library/games/Marble Mania/assets/939789740_8666
Labels: library
