Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2025-01, with the labels that each got.

#2427 Public Library - Update Guan Dan
  library/games/Guan Dan/0.json
Labels: library

#2428 Public Library - Add Henny's Star Buffet
  library/games/Henny_s Star Buffet/0.json
  library/games/Henny_s Star Buffet/assets/-1264675580_1706497
  library/games/Henny_s Star Buffet/assets/-1397456965_794
  library/games/Henny_s Star Buffet/assets/-1637646239_908
  library/games/Henny_s Star Buffet/assets/-1794791642_922
  library/games/Henny_s Star Buffet/assets/-761532721_974
  library/games/Henny_s Star Buffet/assets/1668399037_950
  library/games/Henny_s Star Buffet/assets/311893700_958
Labels: library

#2434 Fix Symbol Picker Client Crash
  client/js/domhelpers.js
Labels: bug, user interface

#2438 fixed symbol picker filter for new nofill icons
  client/css/fonts.css
Labels: bug, user interface

#2417 Add Editor Buttons for cardDefaults
  client/js/jsonedit.js
Labels: enhancement, editor

#2420 Add additional pre-defined variables and collections for seats
  client/js/jsonedit.js
  client/js/widgets/widget.js
  library/tutorials/Seats/0.json
  library/tutorials/Seats/1.json
  library/tutorials/Seats/2.json
  library/tutorials/Seats/3.json
  library/tutorials/Seats/4.json
  library/tutorials/Seats/5.json
Labels: enhancement, routine operations

#2386 Clarify mass asset upload in editor (again)
  client/js/editor/sidebar/assets.js
Labels: enhancement, editor

#2409 Fix crash when all seats have `skipTurn` true
  client/js/widgets/widget.js
Labels: bug, routine operations

#2431 Fix inherit `id` change for decks in `dropTarget`
  client/js/serverstate.js
Labels: bug, widget properties

#2425 Update JSON Editor for count parameters
  client/js/jsonedit.js
Labels: enhancement, editor

#2443 fixed card border with `showInactiveFaceToSeat`
  client/css/widgets/holder.css
Labels: bug, widget properties

#2440 Public Library - Add Hikari
  library/games/Hikari/0.json
  library/games/Hikari/assets/-1471856093_23736
Labels: library

#2444 Public Library - Add Escrime
  library/games/Escrime/0.json
  library/games/Escrime/assets/2098067311_1842706
Labels: library

#2446 Public Library - Add The Longest Run
  library/games/The Longest Run/0.json
  library/games/The Longest Run/assets/-1630103708_592
  library/games/The Longest Run/assets/-2053899573_584
  library/games/The Longest Run/assets/-746323156_600
  library/games/The Longest Run/assets/-912709931_588
  library/games/The Longest Run/assets/1307157188_553
  library/games/The Longest Run/assets/1696814968_584
  library/games/The Longest Run/assets/1930376296_582
  library/games/The Longest Run/assets/1999790220_584
  library/games/The Longest Run/assets/2057936806_564
  library/games/The Longest Run/assets/639044592_592
Labels: library

#2448 Public Library - Add Everything Must Go
  library/games/Everything Must Go_/0.json
  library/games/Everything Must Go_/assets/-1290380067_311
  library/games/Everything Must Go_/assets/-2049741076_35361
Labels: library

#2449 Public Library - Add Happy Landings
  library/games/Happy Landings/0.json
  library/games/Happy Landings/assets/-1031337013_565
  library/games/Happy Landings/assets/-1302946465_565
  library/games/Happy Landings/assets/-1331701761_889
  library/games/Happy Landings/assets/-1445173039_521
  library/games/Happy Landings/assets/-1548614177_728
  library/games/Happy Landings/assets/-174494427_521
  library/games/Happy Landings/assets/-1846597079_521
  library/games/Happy Landings/assets/-2048626508_518
  library/games/Happy Landings/assets/-204920953_33312
  library/games/Happy Landings/assets/-350134830_3780
  library/games/Happy Landings/assets/-615974834_33324
  library/games/Happy Landings/assets/-688596875_1604
  library/games/Happy Landings/assets/-889532612_728
  library/games/Happy Landings/assets/1102741850_3782
  library/games/Happy Landings/assets/1117406649_1604
  library/games/Happy Landings/assets/1149542000_728
  library/games/Happy Landings/assets/1477033782_3780
  library/games/Happy Landings/assets/1591205177_889
  library/games/Happy Landings/assets/1689731655_889
  library/games/Happy Landings/assets/1759771905_728
  library/games/Happy Landings/assets/1955387621_478168
  library/games/Happy Landings/assets/46002597_565
  library/games/Happy Landings/assets/696058306_1601
  library/games/Happy Landings/assets/725845089_889
  library/games/Happy Landings/assets/838130514_565
  library/games/Happy Landings/assets/961243997_1604
Labels: library

#2451 Public Library - Update Everything Must Go!
  library/games/Everything Must Go_/0.json
Labels: library

#2452 Public Library - Update Green Streams
  library/games/Green Streams/0.json
  library/games/Green Streams/assets/-1154482413_19220
  library/games/Green Streams/assets/-1866911662_42944
Labels: library

#2456 Public Library - Update Everything Must Go
  library/games/Everything Must Go_/0.json
Labels: library

#2457 Public Library - Update CONTEST
  library/games/CONTEST/0.json
Labels: library

#2458 Public Library - Add Card Constructor
  library/games/Card Constructor/0.json
  library/games/Card Constructor/assets/-1052381827_3640
  library/games/Card Constructor/assets/-107050133_10522
  library/games/Card Constructor/assets/-1182264925_10394
  library/games/Card Constructor/assets/-1256036319_3708
  library/games/Card Constructor/assets/-1262057051_3796
  library/games/Card Constructor/assets/-1440910883_3694
  library/games/Card Constructor/assets/-1605499213_3880
  library/games/Card Constructor/assets/-172271381_3902
  library/games/Card Constructor/assets/-1755525626_3654
  library/games/Card Constructor/assets/-1901006310_3378
  library/games/Card Constructor/assets/-1926915507_15015
  library/games/Card Constructor/assets/-197203168_3856
  library/games/Card Constructor/assets/-2068678353_3868
  library/games/Card Constructor/assets/-2085522384_4206
  library/games/Card Constructor/assets/-2099534226_3856
  library/games/Card Constructor/assets/-265594535_3616
  library/games/Card Constructor/assets/-338533193_4174
  library/games/Card Constructor/assets/-340460091_4150
  library/games/Card Constructor/assets/-434840459_3604
  library/games/Card Constructor/assets/-527686661_3486
  library/games/Card Constructor/assets/-530775508_3376
  library/games/Card Constructor/assets/-689761578_3484
  library/games/Card Constructor/assets/-710166324_3792
  library/games/Card Constructor/assets/-764332961_3544
  library/games/Card Constructor/assets/-771936621_3696
  library/games/Card Constructor/assets/-777391847_3374
  library/games/Card Constructor/assets/-782783609_4216
  library/games/Card Constructor/assets/-81993917_3726
  library/games/Card Constructor/assets/-82755797_16281
  library/games/Card Constructor/assets/-840476346_3384
  library/games/Card Constructor/assets/-889247058_3962
  library/games/Card Constructor/assets/1127128173_3756
  library/games/Card Constructor/assets/1172412350_3496
  library/games/Card Constructor/assets/126394475_3642
  library/games/Card Constructor/assets/1316810046_8400
  library/games/Card Constructor/assets/1413990882_3954
  library/games/Card Constructor/assets/155520333_3362
  library/games/Card Constructor/assets/1601829989_3612
  library/games/Card Constructor/assets/1743029808_3482
  library/games/Card Constructor/assets/1757111183_1666161
  library/games/Card Constructor/assets/1787638140_12487
  library/games/Card Constructor/assets/1935281935_10136
  library/games/Card Constructor/assets/2001965392_9340
  library/games/Card Constructor/assets/2093712591_3474
  library/games/Card Constructor/assets/353379491_3644
  library/games/Card Constructor/assets/396403453_3564
  library/games/Card Constructor/assets/409752096_13517
  library/games/Card Constructor/assets/654295661_4166
  library/games/Card Constructor/assets/772967497_4158
  library/games/Card Constructor/assets/936210691_15078
  library/games/Card Constructor/assets/943754758_3572
Labels: library

#2455 Add Tutorial - Icons, Symbols, and Emojis
  library/tutorials/Icons_ Symbols_ and Emojis/0.json
  library/tutorials/Icons_ Symbols_ and Emojis/1.json
  library/tutorials/Icons_ Symbols_ and Emojis/2.json
  library/tutorials/Icons_ Symbols_ and Emojis/assets/1502865726_277
  library/tutorials/Icons_ Symbols_ and Emojis/assets/1923406359_3510
Labels: library
