Repository ArnoldSmith86/virtualtabletop, pull requests merged in 2025-06, with the labels that each got.

#2580 updated Docker readme
  README-DOCKER.md
Labels: documentation

#2600 Public Library - Update Patolli
  library/games/Patolli/0.json
Labels: bug, library

#2599 Update righto
  library/games/righto/0.json
Labels: library

#2593 fixed cursor in JSON editor multi-selection
  client/js/jsonedit.js
Labels: bug, editor

#2614 Public Library - Add Scotland's Seven Hills
  library/games/Scotland_s Seven Hills/0.json
  library/games/Scotland_s Seven Hills/assets/-52589506_548214
  library/games/Scotland_s Seven Hills/assets/377500964_64087
Labels: library

#2611 Public Library - Add Good & Evil
  library/games/Good _ Evil/0.json
  library/games/Good _ Evil/assets/-1022173850_28435
  library/games/Good _ Evil/assets/-1326228415_2043
  library/games/Good _ Evil/assets/-1661445519_37546
  library/games/Good _ Evil/assets/-2015642710_2119
  library/games/Good _ Evil/assets/449014298_1669
Labels: library

#2606 Public Library - Add All Aboard
  library/games/All Aboard/0.json
  library/games/All Aboard/assets/-1141895676_34292
  library/games/All Aboard/assets/-222886496_18288
  library/games/All Aboard/assets/1340648479_42066
  library/games/All Aboard/assets/425414618_20334
  library/games/All Aboard/assets/660813152_8070
Labels: library

#2608 Public Library - Add Rodent Race
  library/games/Rodent Race/0.json
  library/games/Rodent Race/assets/-2074878410_59678
  library/games/Rodent Race/assets/-430499049_66570
  library/games/Rodent Race/assets/1097548373_1082
  library/games/Rodent Race/assets/1418426295_82366
  library/games/Rodent Race/assets/1541075027_69888
  library/games/Rodent Race/assets/449649672_50132
Labels: library

#2617 Public Library - Add Eskalator
  library/games/Eskalator/0.json
  library/games/Eskalator/assets/2044505995_47932
Labels: library

#2610 Public Library - Add Out of Pocket
  library/games/Out of Pocket/0.json
  library/games/Out of Pocket/assets/-1030216118_3754
  library/games/Out of Pocket/assets/-1374569375_7549
  library/games/Out of Pocket/assets/-144668561_516
  library/games/Out of Pocket/assets/1055265702_3097
  library/games/Out of Pocket/assets/1287682066_38588
  library/games/Out of Pocket/assets/768951143_44302
  library/games/Out of Pocket/assets/99174140_16753
Labels: library

#2618 Public Library - Update no Monkey
  library/games/No Monkey/0.json
Labels: library

#2623 Public Library - Add Floor is Lava
  library/games/Floor is Lava/0.json
  library/games/Floor is Lava/assets/-1966252861_768
  library/games/Floor is Lava/assets/2109023306_19886
  library/games/Floor is Lava/assets/823378668_151650
Labels: library

#2622 Public Library - Update Out of Pocket
  library/games/Out of Pocket/0.json
Labels: bug, library

#2624 Public Library - Add Tres
  library/games/Tres/0.json
  library/games/Tres/assets/-1271219523_621
  library/games/Tres/assets/-52589506_548214
  library/games/Tres/assets/-609787727_520
Labels: library
